<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card px-6 py-6">
            <p-table #dt [value]="items" [columns]="selectedColumns" [rows]="10" [paginator]="true"
                     [rowHover]="true" dataKey="id"
                     currentPageReportTemplate=" {first} a {last} de {totalRecords} "
                     [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="grid">
                        <div
                            class="col-12 md:col-6 sm:col-12 justify-content-start">
                            <h3 class="m-0">Administración de Desagregaciones Personalizadas</h3>
                        </div>
                        <div
                            class="col-12 md:col sm:col-12 flex justify-content-end">
                        
                            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                selectedItemsLabel="{0} columnas seleccionadas"
                                [style]="{minWidth: '200px',color:'#6c757d'}"
                                placeholder="Seleccione las columnas"
                                appendTo="body"></p-multiSelect>
                            <button pButton pRipple label="Crear" icon="pi pi-plus" class="main-button mr-2 mb-2"
                            (click)="createItem()" style="margin-left: 2rem;" pTooltip="Crear una Desagregación" tooltipPosition="bottom"></button>

                            <button pButton pRipple label="Exportar" icon="pi pi-file-excel" class="second-button mr-2 mb-2"
                            (click)="exportExcel(dt)" style="margin-left: 1rem;" pTooltip="Exportar a Excel" tooltipPosition="bottom"></button>                        
                    
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>

                        </th>
                    </tr>

                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <p-columnFilter *ngSwitchDefault [type]="col.type" [field]="col.field"
                                            [matchMode]="'contains'"
                                            [showMenu]="false"> matchMode="contains
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'state'" type="equals" [field]="col.field"
                                            [showMenu]="false"
                            >
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="states"
                                                (onChange)="filter($event.value)"
                                                placeholder="Selecciona..." [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template
                                >
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'customDissagregationOptions'" type="text"
                                            [field]="col.field"
                                            [showMenu]="false" [matchMode]="'dissagegationsFilters'"
                            >
                            </p-columnFilter>

                        </th>
                        <th>

                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns" 
                            [style]=" {width:col.field === 'name'?'20%':col.field === 'controlTotalValue'?'10%':col.field === 'customDissagregationOptions'?'50%':col.field === 'state'?'10%':''} "
                            [class]="  col.styleClass?col.styleClass: (col.type === 'numeric'?'text-right':null) "
                        >
                            {{ col.pipeRef ? col.pipeRef.transform(utilsService.resolveFieldData(rowData, col.field), col.arg1, col.arg2, col.arg3) : utilsService.resolveFieldData(rowData, col.field) }}
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2"
                                    (click)="editItem(rowData)"></button>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Total {{items ? items.length : 0 }} desagregaciones.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<form [formGroup]="formItem" (ngSubmit)="saveItem()">
    <p-dialog [(visible)]="showDialog" [style]="{width: '80%'}" header="Desagregación" [modal]="true"
              [closable]="false">

        <ng-template pTemplate="content">
            <p-messages></p-messages>

            <div class="card p-fluid">
                <div class="field">
                    <label for="nameI">Nombre</label>
                    <input type="text" pInputText id="nameI"
                           formControlName="name"/>
                    <small class="p-error" *ngIf="utilsService.showErrorForm('name',formItem)">Campo
                        obligatorio.</small>
                </div>

                <!-- <div class="field">
                    <label for="descriptionI">Descripción</label>

                    <textarea pInputTextarea id="descriptionI"
                              formControlName="description"
                              [autoResize]="true">
                        </textarea>

                    <small class="p-error" *ngIf="utilsService.showErrorForm('description',formItem)">Campo
                        obligatorio.</small>
                </div> -->

                <div class="field-checkbox">
                    <p-checkbox id="controlTotalValueI"
                                formControlName="controlTotalValue"
                                [binary]="true">
                    </p-checkbox>
                    <label for="controlTotalValueI">Validación de valor total</label>

                    <small class="p-error" *ngIf="utilsService.showErrorForm('controlTotalValue',formItem)">Campo
                        obligatorio.</small>
                </div>

                <div class="field">
                    <label for="stateI">Estado</label>

                    <p-selectButton id="stateI"
                                    formControlName="state"
                                    [options]="states"
                    >
                    </p-selectButton>

                    <small class="p-error" *ngIf="utilsService.showErrorForm('state',formItem)">Campo
                        obligatorio.</small>
                </div>
                <div class="field">
                    <p-toolbar styleClass="mb-4">
                        <ng-template pTemplate="left">
                            <button pButton pRipple type="button" label="Crear Opción" icon="pi pi-plus"
                                    class="p-button-success mr-2 mb-2"
                                    (click)="createOption()"></button>
                        </ng-template>
                    </p-toolbar>
                    <p-table #dt1 [value]="formItem.get('customDissagregationOptions').value"
                             [columns]="selectedColumnsOptions" [rows]="10"
                             [paginator]="true"
                             [rowHover]="true" dataKey="id"
                             styleClass="p-datatable-customers"
                             currentPageReportTemplate=" {first} a {last} de {totalRecords} "
                             [showCurrentPageReport]="true">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="mb-2">Opciones de Desagregación</h5>
                               
                            </div>

                        </ng-template>
                        
                        <ng-template pTemplate="header" let-columns>
                            <br>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th>

                                </th>
                            </tr>

                            <tr>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <p-columnFilter *ngSwitchDefault [type]="col.type" [field]="col.field"
                                                    [matchMode]="'contains'"
                                                    [showMenu]="false"> matchMode="contains
                                    </p-columnFilter>
                                    <p-columnFilter *ngSwitchCase="'state'" type="equals" [field]="col.field"
                                                    [showMenu]="false"
                                    >
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="states"
                                                        [ngModelOptions]="{standalone: true}"
                                                        (onChange)="filter($event.value)"
                                                        placeholder="Selecciona..." [showClear]="true">
                                                <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option}}</span>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>

                                </th>
                                <th>

                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns"
                                    [class]="  col.styleClass?col.styleClass: (col.type === 'numeric'?'text-right':null) "
                                >
                                    {{ col.pipeRef ? col.pipeRef.transform(utilsService.resolveFieldData(rowData, col.field), col.arg1, col.arg2, col.arg3) : utilsService.resolveFieldData(rowData, col.field) }}
                                </td>
                                <td>
                                    <button pButton pRipple type="button" icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="editOption(rowData)"></button>

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton type="submit"
                    [disabled]="!formItem.valid"
                    pRipple label="Guardar" icon="pi pi-check"
            ></button>
            <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                    (click)="cancelDialog()"></button>

        </ng-template>
    </p-dialog>
</form>
<form [formGroup]="formOptionItem" (ngSubmit)="saveOptionItem()">
    <p-dialog [(visible)]="showDialogOption" [style]="{width: '80%'}" header="Desagregación-Opciones"
              [modal]="true"
              [closable]="false">

        <ng-template pTemplate="content">
            <p-messages></p-messages>
            <div class="card p-fluid">

                <div class="field">
                    <label for="nameOI">Nombre</label>
                    <input type="text" pInputText id="nameOI"
                           formControlName="name"/>
                    <small class="p-error" *ngIf="utilsService.showErrorForm('name',formItem)">Campo
                        obligatorio.</small>
                </div>

                <div class="field">
                    <label for="descriptionOI">Descripción</label>

                    <textarea pInputTextarea id="descriptionOI"
                              formControlName="description"
                              [autoResize]="true">
                        </textarea>

                    <small class="p-error" *ngIf="utilsService.showErrorForm('description',formItem)">Campo
                        obligatorio.</small>
                </div>


                <div class="field">
                    <label for="stateOI">Estado</label>

                    <p-selectButton id="stateOI"
                                    formControlName="state"
                                    [options]="states"
                    >
                    </p-selectButton>

                    <small class="p-error" *ngIf="utilsService.showErrorForm('state',formItem)">Campo
                        obligatorio.</small>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton type="submit"
                    [disabled]="!formOptionItem.valid"
                    pRipple label="Guardar" icon="pi pi-check"
            ></button>
            <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                    (click)="cancelDialogOption()"></button>

        </ng-template>
    </p-dialog>
</form>
