<div class="p-grid" *ngIf="dissagregationTypeValues">
    <div class="p-col-4" *ngFor="let dissagregation of this.utilsService.getOneDimentionsDissagregationTypes() ">

        <app-dissagregation-one-integer-dimentions
            *ngIf="monthValuesMap.get(dissagregation)"
            [dissagregationType]="dissagregation"
            [values]="monthValuesMap.get(dissagregation)"
        ></app-dissagregation-one-integer-dimentions>
    </div>
    <!-- <app-dissagregation-two-integer-dimentions
         [dissagregationType]="dissagregationType"
         [values]="dissagregationTypeValues"
     ></app-dissagregation-two-integer-dimentions>-->

</div>
