<div class="card p-0" *ngIf="render">
    <p-toast key="dialogToast" position="top-right"></p-toast>
    <p-messages></p-messages>
    <div class="card p-0 border-primary font-bold text-lg text-primary">
        <div class="fluid">
            <p class="text-primary text-xl">Para el reporte de este indicador general, recuerde que <b><u>una persona
                beneficiaria debe
                contabilizarse
                solamente una vez</u></b>, a pesar de que haya recibido diferentes servicios por parte del proyecto.
                <b><u>No se considerarán como parte de la población objetivo del proyecto a funcionarios públicos o
                    de
                    instituciones privadas o de la sociedad civil</u></b> que participen en el proyecto en el marco
                del
                fortalecimiento de capacidades para atender a las necesidades de las personas de interés.
            </p>
        </div>
    </div>
    <div class="card p-2" *ngIf="hasLocationDissagregation">
        <div class="flex justify-content-end">
            <p-message severity="warn"
                       *ngIf="disableSave"
                       text="Primero agrega lugares para poder reportar"
            ></p-message>
            <button pButton *ngIf="hasLocationDissagregation" type="button" pRipple label="Agregar lugares"
                    icon="pi pi-plus"
                    (click)="openLocationsDialog()"></button>
        </div>
    </div>
    <form #myForm="ngForm" [formGroup]="formItem" (ngSubmit)="saveMonth()">
        <div class="card p-0">
            <div *ngIf="render">
                <app-chart-indicator-execution *ngIf="render"
                                               [month]="month"
                                               [indicatorExecution]="indicatorExecution"
                ></app-chart-indicator-execution>
            </div>
        </div>
        <div class="p-card p-0">
            <fieldset style="border-style: none; margin: unset; padding: unset" [disabled]="!editable">
                <div class="grid m-0" *ngIf="render">


                    <div class="col-12 md:col-6" *ngFor="let dissagregation of sixDimentionDissagregations">
                        <app-dissagregation-six-integer-dimensions
                                *ngIf="monthValuesMap.get(dissagregation.value)"
                                [dissagregationType]="dissagregation"
                                [values]="monthValuesMap.get(dissagregation.value)"
                                [editable]="editable"
                        ></app-dissagregation-six-integer-dimensions>
                    </div>
                    <div class="col-12 md:col-6" *ngFor="let dissagregation of fiveDimentionDissagregations">
                        <app-dissagregation-five-integer-dimensions
                                *ngIf="monthValuesMap.get(dissagregation.value)"
                                [dissagregationType]="dissagregation"
                                [values]="monthValuesMap.get(dissagregation.value)"
                                [editable]="editable"
                        ></app-dissagregation-five-integer-dimensions>
                    </div>

                    <div class="col-12 md:col-6" *ngFor="let dissagregation of fourDimentionDissagregations">
                        <app-dissagregation-four-integer-dimensions
                                *ngIf="monthValuesMap.get(dissagregation.value)"
                                [dissagregationType]="dissagregation"
                                [values]="monthValuesMap.get(dissagregation.value)"
                                [editable]="editable"
                                implementationType="partnerImplementation"
                        ></app-dissagregation-four-integer-dimensions>
                    </div>
                    <div class="col-12 md:col-6" *ngFor="let dissagregation of threeDimentionDissagregations">
                        <app-dissagregation-three-integer-dimensions
                                *ngIf="monthValuesMap.get(dissagregation.value)"
                                [dissagregationType]="dissagregation"
                                [values]="monthValuesMap.get(dissagregation.value)"
                                [editable]="editable"
                        ></app-dissagregation-three-integer-dimensions>
                    </div>


                    <div class="col-12 md:col-6" *ngFor="let dissagregation of twoDimentionDissagregations">
                        <app-dissagregation-two-integer-dimentions
                                *ngIf="monthValuesMap.get(dissagregation.value)"
                                [dissagregationType]="dissagregation"
                                [values]="monthValuesMap.get(dissagregation.value)"
                                [editable]="editable"
                        ></app-dissagregation-two-integer-dimentions>
                    </div>
                    <div class="col-12 md:col-6"
                         *ngFor="let dissagregation of oneDimentionDissagregations ">
                        <app-dissagregation-one-integer-dimensions
                                *ngIf="monthValuesMap.get(dissagregation.value)"
                                [dissagregationType]="dissagregation"
                                [values]="monthValuesMap.get(dissagregation.value)"
                                [editable]="editable"
                        ></app-dissagregation-one-integer-dimensions>
                    </div>


                    <div class="col-12 md:col-6" *ngFor="let dissagregation of noDimentionDissagregations">
                        <app-dissagregation-no-dissagregation-integer
                                *ngIf="monthValuesMap.get(dissagregation.value)"
                                [month]="month"
                                [dissagregationType]="dissagregation"
                                [values]="monthValuesMap.get(dissagregation.value)"
                                [editable]="editable"
                        ></app-dissagregation-no-dissagregation-integer>
                    </div>


                </div>
                <div class="card">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field md:col-12">
                            <label for="sourcesI">Herramientas de recolección de datos</label>
                            <p-multiSelect id="sourcesI"
                                           [options]="sourceTypes"
                                           [filter]="true"
                                           formControlName="sources"
                                           (onChange)="setOtherSource($event.value)"
                            ></p-multiSelect>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('sources',formItem)">
                                {{utilsService.getErrorMessageForm('sources', formItem)}}
                            </small>
                        </div>
                        <div class="field md:col-4" *ngIf="showOtherSource">
                            <label for="sourceOtherI">Otro</label>
                            <input id="sourceOtherI" type="text" pInputText formControlName="sourceOther">
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('sourceOther',formItem)">
                                {{utilsService.getErrorMessageForm('sourceOther', formItem)}}
                            </small>
                        </div>
                        <div class="field md:col-12">
                            <label for="commentaryI">Información Cualitativa</label><br>
                            <small class="col-12">
                                Máximo 1.000 caracteres.
                                Proporcione un resumen de las principales actividades desarrolladas para el cumplimiento
                                de
                                las metas de este indicador.
                                Adicionalmente, en este espacio se deben registrar las razones por las cuales no se
                                reporta
                                avance del indicador o se supera el valor inicial de la meta.
                                La información que se incluye en este campo podrá ser considerada para la elaboración de
                                los
                                reportes narrativos.
                                Recuerde que una persona beneficiaria debe contabilizarse solamente una vez.
                            </small>
                            <textarea id="commentaryI"
                                      pInputTextarea
                                      [autoResize]="true"
                                      style="width: 100%"
                                      formControlName="commentary"
                            ></textarea>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('commentary',formItem)">
                                {{utilsService.getErrorMessageForm('commentary', formItem)}}
                            </small>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!--<div class="card">
                <div class="p-fluid p-formgrid grid">
                    <div class="field md:col-12">
                        <label for="checkedI">Verificación Punto Focal</label>
                        <p-dropdown id="checkedI" [options]="chekedOptions" formControlName="checked"
                                    appendTo="body"></p-dropdown>
                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('checked',formItem)">
                            {{utilsService.getErrorMessageForm('checked', formItem)}}
                        </small>
                    </div>
                </div>
            </div>
-->
            <div class="p-card p-0">
                <div class="md:col-12">
                    <p-messages></p-messages>
                </div>
                <div class="flex justify-content-end flex-wrap" *ngIf="editable || isAdmin || isProjectFocalPoint">

                    <button pButton type="submit" class="mx-3"
                            pRipple label="Guardar" icon="pi pi-check"
                            [disabled]="!formItem.valid"
                    ></button>
                    <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times"
                            class="p-button-secondary"
                            (click)="cancel()"></button>
                </div>
                <div class="flex justify-content-end "
                     *ngIf="!editable && !(isAdmin || isProjectFocalPoint && isEjecutor) ">
                    <p-message severity="warn"
                               [text]=noEditionMessage
                               styleClass="p-mr-2"></p-message>
                    <button pButton type="button" pRipple label="Salir" icon="pi pi-times"
                            (click)="cancel()"></button>
                </div>
            </div>
        </div>
    </form>
</div>
<p-dialog [(visible)]="showErrorResume" [closable]="false" [closeOnEscape]="false">
    <ng-template pTemplate="header">
        Existen Errores en lo Valores
    </ng-template>
    <div *ngIf="showErrorResume">
        <div class="grid">
            <div class="col-12">
                <h5 class="p-error">
                    Existen errores en los valores. Los valores totales de cada desagregación en la tabla deberían ser
                    iguales.</h5>
            </div>
            <div class="col-12">
                <!--suppress AngularInvalidExpressionResultType -->
                <p-table [value]="$any(totalsValidation).keys()" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Desagregación</th>
                            <th>Total</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dissagregation>
                        <tr>
                            <td>{{dissagregation | enumValuesToLabel:'DissagregationType'}}</td>
                            <td>{{totalsValidation.get(dissagregation)}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="p-d-flex p-jc-end">
            <button pButton type="button" pRipple label="Cerrar" icon="pi pi-times"
                    (click)="closeErrorDialog()"></button>
        </div>
    </ng-template>
</p-dialog>
