<div class="p-grid" >
    <div class="p-col-4">
        <div class="card">
            <h5>{{titleQuarter}}</h5>
            <p-chart type="bar" width="400" [data]="chartDataQuarter" [options]="chartDataOptionsQuarter" [plugins]="plugin" ></p-chart>
        </div>
    </div>
    <div class="p-col-4">
        <div class="card">
            <h5>Ejecución Trimestral</h5>
            <p-chart type="bar" width="400" [data]="chartDataTrimestal" [options]="chartDataOptions" [plugins]="plugin" ></p-chart>
        </div>
    </div>
    <div class="p-col-4">
        <div class="card">
            <h5>Ejecución Anual</h5>
            <p-chart type="bar" width="400" [data]="chartDataTotal" [options]="chartDataOptions"></p-chart>
        </div>
    </div>
</div>
