<!--<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
                 rejectButtonStyleClass="p-button-text"
                 [closable]="false"
>
    <ng-template pTemplate="header">
        <h5>Por favor usa el Explorador Google Chrome</h5>
    </ng-template>
    <ng-template pTemplate="footer">
        <p>
            Si no lo tienes puedes descargarlo aquí:
            <a href="https://www.google.com/chrome/?brand=YTUH&gclid=EAIaIQobChMIw6i-hNqB-QIVSI9oCR2gKwrZEAAYASAAEgIaSfD_BwE&gclsrc=aw.ds">Google Chrome</a>.

        </p>

    </ng-template>
</p-confirmDialog>-->
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
                 [baseZIndex]="10000"
                 [closable]="false"
>

</p-confirmDialog>
<app-loader></app-loader>
<router-outlet></router-outlet>
