<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>

        <div class="card  px-6 py-6">
            
            <p-table #dt [value]="items" [columns]="selectedColumns" [rows]="10" [paginator]="true"
                [rowHover]="true" dataKey="id"
                currentPageReportTemplate=" {first} a {last} de {totalRecords} "
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                (sortFunction)="utilsService.customSort($event, cols)" [customSort]="true"
            >
                <ng-template pTemplate="caption">
                    <div class="grid">
                        <div class="col-12 md:col-4 sm:col-12 flex justify-content-start">
                            <h3 class="m-0">Catálogo de Indicadores</h3>
                        </div>
                        
                        <div  class="col-12 md:col sm:col-12 flex justify-content-end">
                            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                selectedItemsLabel="{0} columnas seleccionadas"
                                [style]="{minWidth: '200px',color:'#6c757d'}"
                                placeholder="Seleccione las columnas"
                                appendTo="body"></p-multiSelect>
                            <button pButton pRipple label="Crear" icon="pi pi-plus" class="main-button mr-2 mb-2"
                            (click)="createItem()" style="margin-left: 2rem;" pTooltip="Crear un Indicador" tooltipPosition="bottom"></button>
                            <button pButton pRipple label="Importar" icon="pi pi-plus" style="margin-left: 1rem;" 
                                class="main-button mr-2 mb-2" pTooltip="Importar Catálogo de Indicadores" tooltipPosition="bottom"
                                (click)="initiateCatalogImport()"></button>
                            <button pButton pRipple label="Exportar" icon="pi pi-file-excel" class="main-button mr-2 mb-2"
                            (click)="exportExcel(dt)" style="margin-left: 1rem;" pTooltip="Exportar a Excel" tooltipPosition="bottom"></button>
                            
                            <a href="https://osmosys.unhcr.org/common/manual/#/administracion-del-sistema?id=_58-cat%c3%a1logo-de-indicadores"
                                target="_blank"  
                                class="p-button  p-button-outlined p-button-info custom-button"
                                style="width: auto; height: fit-content; display: inline-flex; justify-content: center; align-items: center; text-decoration: none; margin-left: 11px; " 
                                pTooltip="Ver el manual de ayuda" tooltipPosition="bottom">
                                <i class="pi pi-question-circle" style="margin-right: 5px;"></i> 
                                <span>Ayuda</span>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>

                        </th>
                    </tr>

                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <p-columnFilter *ngSwitchDefault [type]="col.type" [field]="col.field"
                                            [matchMode]="'contains'"
                                            [showMenu]="false"
                                            [showClearButton]="false"
                            >
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'state'" type="equals" [field]="col.field"
                                            [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="states"
                                                (onChange)="filter($event.value)"
                                                placeholder="Selecciona..." [showClear]="true"
                                                appendTo="body">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                    [class]="'customer-badge status-' + option">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'periods'" type="equals"
                                            [field]="col.field"
                                            [showMenu]="false"
                                            [matchMode]="'customFilterPeriod'"
                            >
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="periodsSelectItems"
                                                (onChange)="filter($event.value)"
                                                placeholder="Selecciona..." [showClear]="true"
                                                appendTo="body"
                                    >
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                    [class]="'customer-badge status-' + option">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'customDissagregationAssignationToIndicators'" type="text"
                                            [field]="col.field" [showMenu]="false"
                                            [matchMode]="'customDissagregationsAssignationToIndicatorFilter'"></p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'dissagregationsAssignationToIndicator'" type="text"
                                            [field]="col.field" [showMenu]="false"
                                            [matchMode]="'dissagregationsAssignationToIndicatorFilter'"></p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'statement'" type="text"
                                            [field]="col.field" [showMenu]="false"
                                            [matchMode]="'statementFilter'"></p-columnFilter>

                        </th>
                        <th>

                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns"
                            [class]="  col.styleClass?col.styleClass: (col.type === 'numeric'?'text-right':null) "
                        >
                            {{ col.pipeRef ? col.pipeRef.transform(utilsService.resolveFieldData(rowData, col.field), col.arg1, col.arg2, col.arg3) : utilsService.resolveFieldData(rowData, col.field)}}
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2"
                                    (click)="editItem(rowData)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        {{dt.filteredValue ? dt.filteredValue.length : dt.totalRecords}} de {{items ? items.length : 0}}
                        indicadores.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<form [formGroup]="formItem" (ngSubmit)="saveItem()">
    <p-dialog [(visible)]="showDialog" header="Indicador" [modal]="true"
              styleClass="p-fluid" [closable]="false"
              [baseZIndex]=1000 [style]="{width: '95%'}"
    >
        <ng-template pTemplate="content">
            <div class="col-12">
                <div class="card">
                    <div class="p-fluid p-formgrid grid">

                        <div class="field col-12 md:col-12" *ngIf="isEditing()">
                            <p-checkbox [binary]="true" label="Core Indicator"   (onChange)="onIsCoreIndicatorChange($event.checked)" formControlName="coreIndicator"></p-checkbox> 
                            <i class="pi pi-info-circle" style="margin-left: 0.5rem;color: blue;" 
                            pTooltip="Autocompleta los códigos e instrucciones desde el listado de Core Indicators" tooltipPosition="right"></i>                      
                        </div>

                        <div class="field col-12 md:col-12" *ngIf="isCoreIndicator && isEditing()">
                            <label for="coreIndicator">Core Indicator *:</label>
                            <p-dropdown id="coreIndicator" 
                                        
                                        [options]="coreIndicators"
                                        appendTo="body"
                                        emptyMessage="Selecciona un Core Indicator.... "
                                        [filter]="true"                                        
                                        dataKey="id"
                                        optionLabel="label"
                                        [showClear]="true"
                                        placeholder="Selecciona un Core Indicator.... "
                                        (onChange)="setCoreIndicator($event.value)"
                                        [panelStyle]="{ 'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis',  'max-width': '50%' }">
                                
                            </p-dropdown>
                        </div>
                        <div class="field col-12 md:col-12">
                            <label for="statementI">Enunciado *:</label>
                            <p-dropdown id="statementI"
                                        formControlName="statement"
                                        [options]="filteredStatements"
                                        appendTo="body"
                                        emptyMessage="Selecciona un Enunciado.... "
                                        [filter]="true"
                                        dataKey="id"
                                        [showClear]="true"
                                        placeholder="Selecciona un Enunciado.... "
                                        (onChange)="setPeriodForStatment($event.value)"
                                        [panelStyle]="{ 'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis',  'max-width': '80%' }"
                            >
                            </p-dropdown>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('statement',formItem)">{{utilsService.getErrorMessageForm('statement', formItem)}}</small>
                        </div>

                        <div class="field col-12 md:col-3">
                            <label for="codeI">Código *:</label>
                            <input type="text" pInputText id="codeI" 
                                    formControlName="code"/>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('code',formItem)">{{utilsService.getErrorMessageForm('code', formItem)}}</small>
                        </div>

                        <div class="field col-12 md:col-3">
                            <label for="codeR">Código Regional:</label>
                            <input type="text" pInputText id="codeR"
                                    formControlName="regionalCode" />
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('regionalCode',formItem)">{{utilsService.getErrorMessageForm('regionalCode', formItem)}}</small>
                        </div>                                                                      

                       
                        <div class="field col-12 md:col-2">
                            <label for="codeI">Categoría:</label>
                            <input type="text" pInputText id="categoryI"
                                   formControlName="category"/>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('category',formItem)">{{utilsService.getErrorMessageForm('category', formItem)}}</small>
                        </div>

                        <div class="field col-12 md:col-2">
                            <label for="measureTypeI">Tipo de medida *:</label>

                            <p-dropdown id="measureTypeI"
                                        formControlName="measureType"
                                        [options]="measureTypes"
                                        placeholder="Selecciona..."
                                        [filter]="true"
                                        appendTo="body"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('measureType',formItem)">{{utilsService.getErrorMessageForm('measureType', formItem)}}</small>
                        </div>
                        <!-- <div class="field col-12 md:col-3">
                            <label for="totalIndicatorCalculationTypeI">Tipo de cálculo</label>

                            <p-dropdown id="totalIndicatorCalculationTypeI"
                                        formControlName="totalIndicatorCalculationType"
                                        [options]="totalIndicatorCalculationTypes"
                                        placeholder="Selecciona..."
                                        [filter]="true"
                                        appendTo="body"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('totalIndicatorCalculationType',formItem)">{{utilsService.getErrorMessageForm('totalIndicatorCalculationType', formItem)}}</small>
                        </div> -->

                        <div class="field col-12 md:col-2">
                            <label for="frecuencyI">Frecuencia *:</label>
                            <i class="pi pi-info-circle" style="margin-left: 0.5rem; color: blue;" 
                            pTooltip="Frecuencia con la que se envían correos de alerta" tooltipPosition="right"></i> 
                            

                            <p-dropdown id="frecuencyI"
                                        formControlName="frecuency"
                                        [options]="frecuencies"
                                        placeholder="Selecciona..."
                                        [filter]="true"
                                        appendTo="body"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('frecuency',formItem)">{{utilsService.getErrorMessageForm('frecuency', formItem)}}</small>
                        </div>
                        <!--
                                                <div class="field col-12 md:col-2">
                                                    <label for="compassIndicatorI">Es indicador Compass</label>

                                                    <p-toggleButton id="compassIndicatorI"
                                                                    formControlName="compassIndicator"
                                                                    onLabel="Compass" offLabel="No Compass"
                                                                    onIcon="pi pi-check" offIcon="pi pi-times"
                                                    >
                                                    </p-toggleButton>

                                                    <small class="p-error"
                                                           *ngIf="utilsService.showErrorForm('compassIndicator',formItem)">{{utilsService.getErrorMessageForm('compassIndicator', formItem)}}</small>
                                                </div>-->
                        
                        
                        <div class="field col-12 md:col-2">
                            <label for="unitI">Unidad de Medida:</label>

                            <p-dropdown id="unitI"
                                        formControlName="unit"
                                        [options]="unitTypes"
                                        placeholder="Selecciona..."
                                        [filter]="true"
                                        appendTo="body"
                                        [required]="true"
                                        (onChange)="formItem.get('unit').valueChanges"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('unit',formItem)">{{utilsService.getErrorMessageForm('unit', formItem)}}</small>
                        </div>
                        <div class="field col-12 md:col-3">
                            <label htmlFor="focalPointI">Mánager de Resultado:</label>
                            <i class="pi pi-info-circle" style="margin-left: 0.5rem; color: blue;" 
                            pTooltip="Usuario del ACNUR que supervisa el indicador actual" tooltipPosition="right"></i> 
                            <p-dropdown id="focalPointI" formControlName="resultManager" [options]="focalPoints"
                                        placeholder="Selecciona..." [showClear]="true"
                                        [filter]="true" filterBy="name"
                                        appendTo="body"
                                        (onChange)="onResultManagerSelect($event.value)"
                                        (onClear)="onResultManagerClear()"
                            >
                                <ng-template pTemplate="item" let-item>
                                    {{item.name }}
                                </ng-template>
                                <ng-template pTemplate="selectedItem" let-item>
                                    {{item.name }}
                                </ng-template>
                            </p-dropdown>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('resultManager',formItem)">{{utilsService.getErrorMessageForm('resultManager', formItem)}}</small>
                        </div>

                        <div *ngIf="toggleQuarterReportCalc" class="field col-12 md:col-2">
                            <label for="quarterReportCalculation">Cálculo para reporte Trimestral: *</label>

                            <p-dropdown id="quarterReportCalculationI"
                                        formControlName="quarterReportCalculation"
                                        [options]="quarterReportCalcTypes"
                                        placeholder="Selecciona..."
                                        [filter]="true"
                                        appendTo="body"
                                        (onChange)="onQuarterReportCalcChange($event.value)"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('quarterReportCalculation',formItem)">{{utilsService.getErrorMessageForm('quarterReportCalculation', formItem)}}</small>
                        </div>

                        <div class="field col-12 md:col-3">
                            <label for="blockAfterUpdateI">Bloqueo automático:</label>

                            <p-toggleButton id="blockAfterUpdateI"
                                            formControlName="blockAfterUpdate"
                                            onLabel="Bloquear después de guardar"
                                            offLabel="No bloquear después de guardar"
                                            onIcon="pi pi-lock" offIcon="pi pi-lock-open"
                            >
                            </p-toggleButton>

                            <small class="p-error"
                                    *ngIf="utilsService.showErrorForm('isMonitored',formItem)">{{utilsService.getErrorMessageForm('isMonitored', formItem)}}</small>
                        </div>
                                                
                        <div class="field col-12 md:col-2">
                            <label for="stateI">Estado *:</label>

                            <p-toggleButton id="stateI"
                                            formControlName="state"
                                            onLabel="Activo" offLabel="Inactivo"
                                            onIcon="pi pi-check" offIcon="pi pi-times"
                            >
                            </p-toggleButton>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('state',formItem)">{{utilsService.getErrorMessageForm('state', formItem)}}</small>
                        </div>

                       
                        <p-messages severity="warn" *ngIf="formItem.get('unit').value === 'PERSONAS_INTERES'">
                            <ng-template pTemplate>
                                <span class="custom-message" style="color: #D9A301; margin-right: 0.5rem;font-weight: bold;">RECUERDA, </span>
                                <span class="custom-message"> al seleccionar Personas Desplazadas y Apátridas, debes desagregar por "Tipos de Población" dentro de cada año.</span>
                            </ng-template>
                        </p-messages>

                        <div *ngIf="toggleAggRuleComment" class="field col-12 md:col-12">
                            <label for="aggregationRuleCommentI">Comentario de Regla de Agregación *:</label>
                            <i class="pi pi-info-circle" style="margin-left: 0.5rem; color: blue;" 
                            pTooltip="Comentario del cálculo que verá el Mánager de Resultados para su reporte Trimestral" tooltipPosition="right"></i> 
                            <textarea pInputTextarea id="aggregationRuleCommentI"
                                formControlName="aggregationRuleComment"
                                [autoResize]="true"
                                >
                        </textarea>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('aggregationRuleComment',formItem)">{{utilsService.getErrorMessageForm('aggregationRuleComment', formItem)}}</small>
                        </div>

                        <div class="field col-12 md:col-12">
                            <label for="descriptionI">Descripción Completa *:</label>
                            <textarea pInputTextarea id="descriptionI"
                                formControlName="description"
                                [autoResize]="true"
                                >
                        </textarea>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('description',formItem)">{{utilsService.getErrorMessageForm('description', formItem)}}</small>
                        </div>
                        <div class="field col-12 md:col-12">
                            <label for="instructionsI">Instrucciones para Información Cuantitativa:</label>
                            <textarea pInputTextarea id="instructionsI"
                                      formControlName="instructions"
                                      [autoResize]="true">
                            </textarea>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('instructions',formItem)">
                                {{utilsService.getErrorMessageForm('instructions', formItem)}}</small>
                        </div>
                        <div class="field col-12 md:col-12">
                            <label for="qualitativeInstructionsI">Instrucciones para Información Cualitativa:</label>
                            <textarea pInputTextarea id="qualitativeInstructionsI"
                                      formControlName="qualitativeInstructions"
                                      [autoResize]="true">
                            </textarea>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('qualitativeInstructions',formItem)">
                                {{utilsService.getErrorMessageForm('qualitativeInstructions', formItem)}}</small>
                        </div>
                        <div class="field col-12 md:col-12">
                            <div>
                                <h4>Desagregaciones</h4>
                                <p-accordion>
                                    <p-accordionTab header="{{period.year}}" *ngFor="let period of periodsForStatements"
                                                    [selected]="true">
                                        <div class="p-fluid p-formgrid grid" id="dissaScroll">
                                            <div class="field col-6 md:col-6 ">
                                                <app-dissagregation-selector
                                                        [dissagregationAssignationToIndicators]="getdissagregationsAssignationToIndicator(period)"
                                                        [period]="period"
                                                        (newDissagregationAssignationToIndicators)="setDissagregationAssignationsToIndicator($event)"
                                                >

                                                </app-dissagregation-selector>
                                            </div>
                                            <div class="field col-6 md:col-6 ">
                                                <app-custom-dissagregation-selector
                                                        [customDissagregationAssignationToIndicators]="getCustomDissagregationsAssignationToIndicator(period)"
                                                        [period]="period"
                                                        (newDissagregationAssignationToIndicators)="setCustomDissagregationAssignationsToIndicator($event)"
                                                ></app-custom-dissagregation-selector>
                                            </div>
                                        </div>
                                    </p-accordionTab>
                                </p-accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>

            <button pButton type="button"
                    (click)="confirmBeforeSave()"
                    [disabled]="!formItem.valid"
                    pRipple label="Guardar" icon="pi pi-check"
            ></button>
            <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                    (click)="cancelDialog()"></button>
            <p-messages></p-messages>
        </ng-template>
    </p-dialog>
</form>

<form [formGroup]="importForm" (ngSubmit)="importCatalog()">
    <p-dialog [(visible)]="showDialogImport" header="Importación de catalogo de indicadores" [modal]="true"
              [closable]="false">

        <ng-template pTemplate="content">
            <p-messages></p-messages>

            <div class="card p-fluid">
                <h5>

                </h5>

                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Año</label>
                    <div class="col-12 md:col-10">
                        <p-dropdown
                                id="periodI"
                                formControlName="period"
                                [options]="periodsSelectItems"
                                [filter]=true
                                placeholder="Selecciona..." [showClear]="true"
                        >
                            <ng-template let-option pTemplate="item">
                                            <span
                                                    [class]="'customer-badge status-' + option">{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="col-12 mb-2 md:col-2 md:mb-0"></div>
                    <div class="col-12 md:col-10 p-2">
                        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="downloadImportTemplate()"
                                class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"
                                label="Descargar Plantilla"></button>
                    </div>
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Catálogo</label>
                    <div class="col-12 md:col-10">
                        <p-fileUpload name="myfile[]"
                                      [customUpload]="true"
                                      (uploadHandler)="fileUploader($event)"
                                      [auto]="true"
                                      [fileLimit]="1"
                                      uploadLabel="importar"
                                      chooseLabel="seleccionar archivo"
                                      cancelLabel="cancelar"
                        ></p-fileUpload>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton type="submit"
                    [disabled]="!importForm.valid"
                    pRipple label="Guardar" icon="pi pi-check"
            ></button>
            <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times"
                    class="p-button-secondary"
                    (click)="cancelImportDialog()"></button>

        </ng-template>

    </p-dialog>
</form>