<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>

        <div class="card">
            <h3 class="page-title">Administración de Indicadores de Producto</h3>
            <p-toolbar styleClass="p-mb-4">

                <ng-template pTemplate="left">
                    <button pButton pRipple label="Crear" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                            (click)="createItem()"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel(dt)"
                            class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items" [columns]="selectedColumns" [rows]="10" [paginator]="true"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate=" {first} a {last} de {totalRecords} "
                     [showCurrentPageReport]="true"
            >
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Situaciones</h5>
                        <span class="p-input-icon-left">
                        </span>
                        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                       selectedItemsLabel="{0} columnas seleccionadas"
                                       [style]="{minWidth: '200px',color:'#6c757d'}"
                                       placeholder="Seleccione las columnas"></p-multiSelect>
                    </div>

                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>

                        </th>
                    </tr>

                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <p-columnFilter *ngSwitchDefault [type]="col.type" [field]="col.field"
                                            [matchMode]="'contains'"
                                            [showMenu]="false"> matchMode="contains
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'state'" type="equals" [field]="col.field"
                                            [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="states"
                                                (onChange)="filter($event.value)"
                                                placeholder="Selecciona..." [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'customDissagregationAssignationToIndicators'" type="text"
                                            [field]="col.field" [showMenu]="false"
                                            [matchMode]="'customDissagregationsAssignationToIndicatorFilter'"></p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'dissagregationsAssignationToIndicator'" type="text"
                                            [field]="col.field" [showMenu]="false"
                                            [matchMode]="'dissagregationsAssignationToIndicatorFilter'"></p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'markers'" type="text"
                                            [field]="col.field" [showMenu]="false"
                                            [matchMode]="'markersFilter'"></p-columnFilter>
                        </th>
                        <th>

                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns"
                            [class]="  col.styleClass?col.styleClass: (col.type === 'numeric'?'text-right':null) "
                        >
                            {{ col.pipeRef ? col.pipeRef.transform(utilsService.resolveFieldData(rowData, col.field), col.arg1, col.arg2, col.arg3) : utilsService.resolveFieldData(rowData, col.field)}}
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editItem(rowData)"></button>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Total {{items ? items.length : 0 }} situaciones.
                    </div>
                </ng-template>
            </p-table>
        </div>
        <form [formGroup]="formItem" (ngSubmit)="saveItem()">
            <p-dialog [(visible)]="showDialog" [style]="{width: '90%'}" header="Indicador" [modal]="true"
                      styleClass="p-fluid" [closable]="false">

                <ng-template pTemplate="content">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-3">
                            <label for="areaTypeI">Tipo de Área</label>

                            <p-dropdown id="areaTypeI"
                                        formControlName="areaType"
                                        [options]="areaTypes"
                                        placeholder="Selecciona..."
                                        filter="true"
                                        appendTo="body"
                                        (onChange)="onChangeArea($event)"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('areaType',formItem)">{{utilsService.getErrorMessageForm('areaType', formItem)}}</small>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <label for="indicatorTypeI">Tipo</label>

                            <p-dropdown id="indicatorTypeI"
                                        formControlName="indicatorType"
                                        [options]="indicatorTypes"
                                        placeholder="Selecciona..."
                                        filter="true"
                                        appendTo="body"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('indicatorType',formItem)">{{utilsService.getErrorMessageForm('indicatorType', formItem)}}</small>
                        </div>

                        <div class="p-field p-col-12 p-md-5">
                            <label for="statementI">Declaración</label>
                            <p-dropdown id="statementI"
                                        formControlName="statement"
                                        [options]="filteredStatements"
                                        appendTo="body"
                                        optionLabel="labelItem"
                                        optionValue="valueItem"
                                        emptyMessage="Selecciona un tipo de área"
                                        filter="true"
                            >
                            </p-dropdown>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('statement',formItem)">{{utilsService.getErrorMessageForm('statement', formItem)}}</small>
                        </div>

                        <div class="p-field p-col-12 p-md-3">
                            <label for="codeI">Código</label>
                            <input type="text" pInputText id="codeI"
                                   formControlName="code"/>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('code',formItem)">{{utilsService.getErrorMessageForm('code', formItem)}}</small>
                        </div>

                        <div class="p-field p-col-12 p-md-9">
                            <label for="descriptionI">Descripción Completa</label>

                            <textarea pInputTextarea id="descriptionI"
                                      formControlName="description"
                                      autoResize="autoResize">
                        </textarea>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('description',formItem)">{{utilsService.getErrorMessageForm('description', formItem)}}</small>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <label for="codeI">Categoría</label>
                            <input type="text" pInputText id="categoryI"
                                   formControlName="category"/>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('category',formItem)">{{utilsService.getErrorMessageForm('category', formItem)}}</small>
                        </div>

                        <div class="p-field p-col-12 p-md-2">
                            <label for="measureTypeI">Tipo de medida</label>

                            <p-dropdown id="measureTypeI"
                                        formControlName="measureType"
                                        [options]="measureTypes"
                                        placeholder="Selecciona..."
                                        filter="true"
                                        appendTo="body"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('measureType',formItem)">{{utilsService.getErrorMessageForm('measureType', formItem)}}</small>
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label for="totalIndicatorCalculationTypeI">Tipo de cálculo</label>

                            <p-dropdown id="totalIndicatorCalculationTypeI"
                                        formControlName="totalIndicatorCalculationType"
                                        [options]="totalIndicatorCalculationTypes"
                                        placeholder="Selecciona..."
                                        filter="true"
                                        appendTo="body"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('totalIndicatorCalculationType',formItem)">{{utilsService.getErrorMessageForm('totalIndicatorCalculationType', formItem)}}</small>
                        </div>

                        <div class="p-field p-col-12 p-md-2">
                            <label for="frecuencyI">Frecuencia</label>

                            <p-dropdown id="frecuencyI"
                                        formControlName="frecuency"
                                        [options]="frecuencies"
                                        placeholder="Selecciona..."
                                        filter="true"
                                        appendTo="body"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('frecuency',formItem)">{{utilsService.getErrorMessageForm('frecuency', formItem)}}</small>
                        </div>

                        <div class="p-field p-col-12 p-md-2">
                            <label for="compassIndicatorI">Es indicador Compass</label>

                            <p-toggleButton id="compassIndicatorI"
                                            formControlName="compassIndicator"
                                            onLabel="Compass" offLabel="No Compass"
                                            onIcon="pi pi-check" offIcon="pi pi-times"
                            >
                            </p-toggleButton>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('compassIndicator',formItem)">{{utilsService.getErrorMessageForm('compassIndicator', formItem)}}</small>
                        </div>

                        <div class="p-field p-col-12 p-md-2">
                            <label for="isMonitoredI">Monitoreo</label>

                            <p-toggleButton id="isMonitoredI"
                                            formControlName="isMonitored"
                                            onLabel="Monitoreado" offLabel="No Monitoreado"
                                            onIcon="pi pi-check" offIcon="pi pi-times"
                            >
                            </p-toggleButton>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('isMonitored',formItem)">{{utilsService.getErrorMessageForm('isMonitored', formItem)}}</small>
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label for="isCalculatedI">Calculado</label>

                            <p-toggleButton id="isCalculatedI"
                                            formControlName="isCalculated"
                                            onLabel="Calculado" offLabel="No Calculado"
                                            onIcon="pi pi-check" offIcon="pi pi-times"
                            >
                            </p-toggleButton>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('isCalculated',formItem)">{{utilsService.getErrorMessageForm('isCalculated', formItem)}}</small>
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label for="stateI">Estado</label>

                            <p-toggleButton id="stateI"
                                            formControlName="state"
                                            onLabel="Activo" offLabel="Inactivo"
                                            onIcon="pi pi-check" offIcon="pi pi-times"
                            >
                            </p-toggleButton>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('state',formItem)">{{utilsService.getErrorMessageForm('state', formItem)}}</small>
                        </div>
                        <div class="p-field p-col-12 p-md-12">
                            <label for="qualitativeInstructionsI">Instrucciones para Información Cualitativa</label>
                            <textarea pInputTextarea id="qualitativeInstructionsI"
                                      formControlName="qualitativeInstructions"
                                      autoResize="autoResize">
                            </textarea>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('qualitativeInstructions',formItem)">
                                {{utilsService.getErrorMessageForm('qualitativeInstructions', formItem)}}</small>
                        </div>
                        <div class="p-field p-col-12 p-md-12">
                            <ng-template pTemplate="header">
                                <label for="stateI">Segregaciones</label>
                            </ng-template>
                            <p-card header="Segregaciones">
                                <p-accordion>
                                    <p-accordionTab header="{{period.year}}" *ngFor="let period of periods">
                                        <div class="p-d-flex">
                                            <div class="p-field p-col-6 p-md-6 p-p-2">
                                                <label>Desagregaciones Estándar</label>
                                                <div class="p-field p-col-12 p-md-12"
                                                     style="border: 1px solid #ced4da;">
                                                    <p-scrollPanel [style]="{width: '100%', height: '80px'}">
                                                        <div class="p-formgroup-inline p-pt-2">
                                                            <div class="p-field-checkbox p-col-12 p-md-3"
                                                                 *ngFor="let dissagregationTypePeriod of getDissagregationTypeByPeriod(period)">
                                                                <!--suppress AngularInvalidExpressionResultType -->
                                                                <p-checkbox name="group1"
                                                                            [inputId]="dissagregationTypePeriod.value"
                                                                            [value]="dissagregationTypePeriod.value"
                                                                            [formControl]="formItem.controls['dissagregations']"

                                                                >
                                                                </p-checkbox>
                                                                <label
                                                                    [for]="dissagregationTypePeriod.value">{{dissagregationTypePeriod.label}}
                                                                </label>
                                                            </div>

                                                        </div>
                                                    </p-scrollPanel>
                                                </div>
                                                <small class="p-error"
                                                       *ngIf="utilsService.showErrorForm('dissagregations',formItem)">{{utilsService.getErrorMessageForm('dissagregations', formItem)}}</small>
                                            </div>
                                            <div class="p-field p-col-6 p-md-6 p-p-2">
                                                <label>Desagregaciones Personalizadas</label>
                                                <div class="p-field p-col-12 p-md-12"
                                                     style="border: 1px solid #ced4da;">
                                                    <p-scrollPanel [style]="{width: '100%', height: '80px'}">
                                                        <div class="p-formgroup-inline p-pt-2">

                                                            <div class="p-field-checkbox p-col-12 p-md-3"
                                                                 *ngFor="let custd of getCustomDissagregationTypeByPeriod(period)">
                                                                <!--suppress AngularInvalidExpressionResultType -->
                                                                <p-checkbox name="group2" [inputId]="custd.value"
                                                                            [value]="custd.value"
                                                                            [formControl]="formItem.controls['customDissagregations']"
                                                                >
                                                                </p-checkbox>
                                                                <label [for]="custd.value">{{custd.label}}</label>
                                                            </div>
                                                        </div>
                                                    </p-scrollPanel>
                                                </div>
                                                <small class="p-error"
                                                       *ngIf="utilsService.showErrorForm('customDissagregations',formItem)">{{utilsService.getErrorMessageForm('customDissagregations', formItem)}}</small>
                                            </div>
                                        </div>
                                    </p-accordionTab>
                                </p-accordion>
                            </p-card>
                        </div>
                        <p-fieldset class="p-field p-col-12 p-md-12" legend="Marcadores" [toggleable]="true"
                                    [collapsed]="true">

                            <p-pickList [source]="markers" [target]="formItem.get('markers').value"
                                        sourceHeader="Marcadores Disponibles" targetHeader="Marcadores Seleccionados"
                                        [dragdrop]="true"
                                        [responsive]="true" [sourceStyle]="{'height':'30rem'}"
                                        [targetStyle]="{'height':'30rem'}"
                                        filterBy="description,shortDescription,type,subType"
                                        sourceFilterPlaceholder="Search by name"
                                        targetFilterPlaceholder="Search by name">
                                <ng-template let-marker pTemplate="item">
                                    <div class="product-item">
                                        <div class="image-container">
                                            <h4 class="p-mb-2">{{marker.shortDescription}}</h4>
                                        </div>
                                        <div class="product-list-detail">
                                            <i class="pi pi-tag product-category-icon"></i>
                                            <span class="product-category"
                                                  style="font-weight: bolder;">Tipo: </span>{{marker.type}}
                                        </div>
                                        <div class="product-list-detail">
                                            <i class="pi pi-tag product-category-icon"></i>
                                            <span class="product-category"
                                                  style="font-weight: bolder;">Subtipo: </span>{{marker.subType}}
                                        </div>
                                        <div class="image-container">

                                            <p class="p-mb-2"><span class="product-category"
                                                                    style="font-weight: bolder;">Descripción: </span>{{marker.description}}
                                            </p>
                                        </div>

                                    </div>
                                </ng-template>
                            </p-pickList>
                        </p-fieldset>
                    </div>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton type="submit"
                            [disabled]="!formItem.valid"
                            pRipple label="Guardar" icon="pi pi-check"
                    ></button>
                    <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                            (click)="cancelDialog()"></button>
                    <p-messages></p-messages>
                </ng-template>
            </p-dialog>
        </form>
    </div>
</div>
