<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>

        <div class="card  px-3 py-6">
            <h3 class="page-title">Administración de Indicadores de Producto</h3>
            <p-toolbar styleClass="mb-4">

                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Crear" icon="pi pi-plus" class="p-button-success mr-2 mb-2"
                                (click)="createItem()"></button>
                    </div>
                    <div class="my-2">
                        <button pButton pRipple label="Importar Catálogo de Indicadores" icon="pi pi-plus"
                                class="p-button-success mr-2 mb-2"
                                (click)="initiateCatalogImport()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel(dt)"
                            class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items" [columns]="selectedColumns" [rows]="10" [paginator]="true"
                     [rowHover]="true" dataKey="id"
                     currentPageReportTemplate=" {first} a {last} de {totalRecords} "
                     [showCurrentPageReport]="true"
                     (sortFunction)="utilsService.customSort($event, cols)" [customSort]="true"
            >
                <ng-template pTemplate="caption">
                    <div class="flex card-container overflow-hidden">
                        <div
                            class="flex-none flex align-items-center justify-content-center m-2 px-5  border-round">
                            <h5 class="m-0">Indicadores de Producto</h5>
                        </div>
                        <div
                            class="flex-grow-1 flex align-items-center justify-content-center px-5  border-round"></div>
                        <div
                            class="flex-none flex align-items-center justify-content-center px-5  border-round">
                            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                           selectedItemsLabel="{0} columnas seleccionadas"
                                           [style]="{minWidth: '200px',color:'#6c757d'}"
                                           placeholder="Seleccione las columnas"
                                           appendTo="body"></p-multiSelect>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>

                        </th>
                    </tr>

                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <p-columnFilter *ngSwitchDefault [type]="col.type" [field]="col.field"
                                            [matchMode]="'contains'"
                                            [showMenu]="false"
                                            [showClearButton]="false"
                            >
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'state'" type="equals" [field]="col.field"
                                            [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="states"
                                                (onChange)="filter($event.value)"
                                                placeholder="Selecciona..." [showClear]="true"
                                                appendTo="body">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="null" type="equals"
                                            [field]="'dissagregationsAssignationToIndicator'"
                                            [showMenu]="false"
                                            [matchMode]="'periodIndicatorFilter'"
                            >
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="periodsSelectItems"
                                                (onChange)="filter($event.value)"
                                                placeholder="Selecciona..." [showClear]="true"
                                                appendTo="body"
                                    >
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'customDissagregationAssignationToIndicators'" type="text"
                                            [field]="col.field" [showMenu]="false"
                                            [matchMode]="'customDissagregationsAssignationToIndicatorFilter'"></p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'dissagregationsAssignationToIndicator'" type="text"
                                            [field]="col.field" [showMenu]="false"
                                            [matchMode]="'dissagregationsAssignationToIndicatorFilter'"></p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'statement'" type="text"
                                            [field]="col.field" [showMenu]="false"
                                            [matchMode]="'statementFilter'"></p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'markers'" type="text"
                                            [field]="col.field" [showMenu]="false"
                                            [matchMode]="'markersFilter'"></p-columnFilter>
                        </th>
                        <th>

                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns"
                            [class]="  col.styleClass?col.styleClass: (col.type === 'numeric'?'text-right':null) "
                        >
                            {{ col.pipeRef ? col.pipeRef.transform(utilsService.resolveFieldData(rowData, col.field), col.arg1, col.arg2, col.arg3) : utilsService.resolveFieldData(rowData, col.field)}}
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2"
                                    (click)="editItem(rowData)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        {{dt.filteredValue?dt.filteredValue.length:dt.totalRecords}} de {{items?items.length:0}}
                        indicadores.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<form [formGroup]="formItem" (ngSubmit)="saveItem()">
    <p-dialog [(visible)]="showDialog" header="Indicador" [modal]="true"
              styleClass="p-fluid" [closable]="false"
              [baseZIndex]=1000
    >
        <ng-template pTemplate="content">
            <div class="col-12">
                <div class="card">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label for="statementI">Declaración</label>
                            <p-dropdown id="statementI"
                                        formControlName="statement"
                                        [options]="filteredStatements"
                                        appendTo="body"
                                        optionLabel="labelItem"
                                        optionValue="valueItem"
                                        emptyMessage="Selecciona una declaración"
                                        [filter]="true"
                                        dataKey="id"

                            >
                            </p-dropdown>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('statement',formItem)">{{utilsService.getErrorMessageForm('statement', formItem)}}</small>
                        </div>
                        <div class="field col-12 md:col-6"></div>
                        <div class="field col-12 md:col-3">
                            <label for="codeI">Código</label>
                            <input type="text" pInputText id="codeI"
                                   formControlName="code"/>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('code',formItem)">{{utilsService.getErrorMessageForm('code', formItem)}}</small>
                        </div>

                        <div class="field col-12 md:col-9">
                            <label for="descriptionI">Descripción Completa</label>

                            <textarea pInputTextarea id="descriptionI"
                                      formControlName="description"
                                      [autoResize]="true">
                        </textarea>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('description',formItem)">{{utilsService.getErrorMessageForm('description', formItem)}}</small>
                        </div>
                        <div class="field col-12 md:col-3">
                            <label for="codeI">Categoría</label>
                            <input type="text" pInputText id="categoryI"
                                   formControlName="category"/>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('category',formItem)">{{utilsService.getErrorMessageForm('category', formItem)}}</small>
                        </div>

                        <div class="field col-12 md:col-2">
                            <label for="measureTypeI">Tipo de medida</label>

                            <p-dropdown id="measureTypeI"
                                        formControlName="measureType"
                                        [options]="measureTypes"
                                        placeholder="Selecciona..."
                                        [filter]="true"
                                        appendTo="body"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('measureType',formItem)">{{utilsService.getErrorMessageForm('measureType', formItem)}}</small>
                        </div>
                        <div class="field col-12 md:col-2">
                            <label for="totalIndicatorCalculationTypeI">Tipo de cálculo</label>

                            <p-dropdown id="totalIndicatorCalculationTypeI"
                                        formControlName="totalIndicatorCalculationType"
                                        [options]="totalIndicatorCalculationTypes"
                                        placeholder="Selecciona..."
                                        [filter]="true"
                                        appendTo="body"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('totalIndicatorCalculationType',formItem)">{{utilsService.getErrorMessageForm('totalIndicatorCalculationType', formItem)}}</small>
                        </div>

                        <div class="field col-12 md:col-2">
                            <label for="frecuencyI">Frecuencia</label>

                            <p-dropdown id="frecuencyI"
                                        formControlName="frecuency"
                                        [options]="frecuencies"
                                        placeholder="Selecciona..."
                                        [filter]="true"
                                        appendTo="body"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('frecuency',formItem)">{{utilsService.getErrorMessageForm('frecuency', formItem)}}</small>
                        </div>
                        <!--
                                                <div class="field col-12 md:col-2">
                                                    <label for="compassIndicatorI">Es indicador Compass</label>

                                                    <p-toggleButton id="compassIndicatorI"
                                                                    formControlName="compassIndicator"
                                                                    onLabel="Compass" offLabel="No Compass"
                                                                    onIcon="pi pi-check" offIcon="pi pi-times"
                                                    >
                                                    </p-toggleButton>

                                                    <small class="p-error"
                                                           *ngIf="utilsService.showErrorForm('compassIndicator',formItem)">{{utilsService.getErrorMessageForm('compassIndicator', formItem)}}</small>
                                                </div>-->
                        <div class="field col-12 md:col-2">
                            <label for="blockAfterUpdateI">Bloqueo automático</label>

                            <p-toggleButton id="blockAfterUpdateI"
                                            formControlName="blockAfterUpdate"
                                            onLabel="Bloquear después de guardar"
                                            offLabel="No bloquear después de guardar"
                                            onIcon="pi pi-lock" offIcon="pi pi-lock-open"
                            >
                            </p-toggleButton>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('isMonitored',formItem)">{{utilsService.getErrorMessageForm('isMonitored', formItem)}}</small>
                        </div>
                        <div class="field col-12 md:col-2">
                            <label for="unitI">Unidad de Medida</label>

                            <p-dropdown id="unitI"
                                        formControlName="unit"
                                        [options]="unitTypes"
                                        placeholder="Selecciona..."
                                        [filter]="true"
                                        appendTo="body"
                                        [required]="true"
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('unit',formItem)">{{utilsService.getErrorMessageForm('unit', formItem)}}</small>
                        </div>
                        <!-- <div class="field col-12 md:col-2">
                             <label for="isMonitoredI">Monitoreo</label>

                             <p-toggleButton id="isMonitoredI"
                                             formControlName="isMonitored"
                                             onLabel="Monitoreado" offLabel="No Monitoreado"
                                             onIcon="pi pi-check" offIcon="pi pi-times"
                             >
                             </p-toggleButton>

                             <small class="p-error"
                                    *ngIf="utilsService.showErrorForm('isMonitored',formItem)">{{utilsService.getErrorMessageForm('isMonitored', formItem)}}</small>
                         </div>
        -->
                        <!--                        <div class="field col-12 md:col-2">
                                                    <label for="isCalculatedI">Calculado</label>

                                                    <p-toggleButton id="isCalculatedI"
                                                                    formControlName="isCalculated"
                                                                    onLabel="Calculado" offLabel="No Calculado"
                                                                    onIcon="pi pi-check" offIcon="pi pi-times"
                                                    >
                                                    </p-toggleButton>

                                                    <small class="p-error"
                                                           *ngIf="utilsService.showErrorForm('isCalculated',formItem)">{{utilsService.getErrorMessageForm('isCalculated', formItem)}}</small>
                                                </div>-->
                        <div class="field col-12 md:col-2">
                            <label for="stateI">Estado</label>

                            <p-toggleButton id="stateI"
                                            formControlName="state"
                                            onLabel="Activo" offLabel="Inactivo"
                                            onIcon="pi pi-check" offIcon="pi pi-times"
                            >
                            </p-toggleButton>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('state',formItem)">{{utilsService.getErrorMessageForm('state', formItem)}}</small>
                        </div>
                        <div class="field col-12 md:col-12">
                            <label for="instructionsI">Instrucciones para Información Cuantitativa</label>
                            <textarea pInputTextarea id="instructionsI"
                                      formControlName="instructions"
                                      [autoResize]="true">
                            </textarea>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('instructions',formItem)">
                                {{utilsService.getErrorMessageForm('instructions', formItem)}}</small>
                        </div>
                        <div class="field col-12 md:col-12">
                            <label for="qualitativeInstructionsI">Instrucciones para Información Cualitativa</label>
                            <textarea pInputTextarea id="qualitativeInstructionsI"
                                      formControlName="qualitativeInstructions"
                                      [autoResize]="true">
                            </textarea>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('qualitativeInstructions',formItem)">
                                {{utilsService.getErrorMessageForm('qualitativeInstructions', formItem)}}</small>
                        </div>
                        <div class="field col-12 md:col-12">
                            <div>
                                <h4>Desagregaciones</h4>
                                <p-accordion>
                                    <p-accordionTab header="{{period.year}}" *ngFor="let period of periods"
                                                    [selected]="true">
                                        <div class="p-fluid p-formgrid grid" id="dissaScroll">
                                            <div class="field col-12 md:col-6">
                                                <label>Desagregaciones Estándar</label>
                                                <div class="field col-12 md:col-12"
                                                     style="border: 1px solid #ced4da;">
                                                    <p-scrollPanel
                                                        [style]="{width: '100%', height: '160px', border: 'yellow'}">
                                                        <div>
                                                            <p-multiSelect
                                                                [options]="getDissagregationTypeByPeriod(period)"
                                                                formControlName="dissagregations"
                                                                defaultLabel="Selecciona al menos una desagregación"
                                                                optionLabel="label"
                                                                optionValue="value"
                                                                [maxSelectedLabels]="0"
                                                                [showToggleAll]="false"
                                                                [style]="{width: '100%'}"
                                                                [panelStyle]="{width: '100%'}"
                                                                appendTo="body"
                                                            >
                                                            </p-multiSelect>
                                                        </div>
                                                        <div class="flex flex-row flex-wrap m-2">
                                                            <p-tag
                                                                *ngFor="let dissa of getSelectedDissagregationTypeByPeriod(period) "
                                                                styleClass="flex align-items-center justify-content-center m-2"
                                                                value="{{getDissagregationLabel(dissa)}}">
                                                            </p-tag>
                                                        </div>
                                                    </p-scrollPanel>
                                                </div>
                                                <small class="p-error"
                                                       *ngIf="utilsService.showErrorForm('dissagregations',formItem)">{{utilsService.getErrorMessageForm('dissagregations', formItem)}}</small>
                                            </div>
                                            <div class="field col-6 md:col-6 ">
                                                <label>Desagregaciones Personalizadas</label>
                                                <div class="field col-12 md:col-12"
                                                     style="border: 1px solid #ced4da;">
                                                    <p-scrollPanel [style]="{width: '100%', height: '80px'}">
                                                        <div class="p-formgroup-inline p-pt-2">

                                                            <div class="field-checkbox col-12 md:col-3"
                                                                 *ngFor="let custd of getCustomDissagregationTypeByPeriod(period)">
                                                                <!--suppress AngularInvalidExpressionResultType -->
                                                                <p-checkbox name="group2" [inputId]="custd.value"
                                                                            [value]="custd.value"
                                                                            [formControl]="$any(formItem).controls['customDissagregations']"
                                                                >
                                                                </p-checkbox>
                                                                <label [for]="custd.value">{{custd.label}}</label>
                                                            </div>
                                                        </div>
                                                    </p-scrollPanel>
                                                </div>
                                                <small class="p-error"
                                                       *ngIf="utilsService.showErrorForm('customDissagregations',formItem)">{{utilsService.getErrorMessageForm('customDissagregations', formItem)}}</small>
                                            </div>
                                        </div>
                                    </p-accordionTab>
                                </p-accordion>
                            </div>
                        </div>
                        <p-fieldset class="field col-12 md:col-12" legend="Marcadores" [toggleable]="true"
                                    [collapsed]="true">

                            <p-pickList [source]="markers" [target]="formItem.get('markers').value"
                                        sourceHeader="Marcadores Disponibles" targetHeader="Marcadores Seleccionados"
                                        [dragdrop]="true"
                                        [responsive]="true" [sourceStyle]="{'height':'30rem'}"
                                        [targetStyle]="{'height':'30rem'}"
                                        filterBy="description,shortDescription,type,subType"
                                        sourceFilterPlaceholder="Search by name"
                                        targetFilterPlaceholder="Search by name">
                                <ng-template let-marker pTemplate="item">
                                    <div class="product-item">
                                        <div class="image-container">
                                            <h4 class="mb-2">{{marker.shortDescription}}</h4>
                                        </div>
                                        <div class="product-list-detail">
                                            <i class="pi pi-tag product-category-icon"></i>
                                            <span class="product-category"
                                                  style="font-weight: bolder;">Tipo: </span>{{marker.type}}
                                        </div>
                                        <div class="product-list-detail">
                                            <i class="pi pi-tag product-category-icon"></i>
                                            <span class="product-category"
                                                  style="font-weight: bolder;">Subtipo: </span>{{marker.subType}}
                                        </div>
                                        <div class="image-container">

                                            <p class="mb-2"><span class="product-category"
                                                                  style="font-weight: bolder;">Descripción: </span>{{marker.description}}
                                            </p>
                                        </div>

                                    </div>
                                </ng-template>
                            </p-pickList>
                        </p-fieldset>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton type="submit"
                    [disabled]="!formItem.valid"
                    pRipple label="Guardar" icon="pi pi-check"
            ></button>
            <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                    (click)="cancelDialog()"></button>
            <p-messages></p-messages>
        </ng-template>
    </p-dialog>
</form>

<form [formGroup]="importForm" (ngSubmit)="importCatalog()">
    <p-dialog [(visible)]="showDialogImport" header="Importación de catalogo de indicadores" [modal]="true"
              [closable]="false">

        <ng-template pTemplate="content">
            <p-messages></p-messages>

            <div class="card p-fluid">
                <h5>

                </h5>

                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Periodo</label>
                    <div class="col-12 md:col-10">
                        <p-dropdown
                            id="periodI"
                            formControlName="period"
                            [options]="periodsSelectItems"
                            [filter]=true
                            placeholder="Selecciona..." [showClear]="true"
                        >
                            <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="col-12 mb-2 md:col-2 md:mb-0"></div>
                    <div class="col-12 md:col-10 p-2">
                        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="downloadImportTemplate()"
                                class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"
                                label="Descargar Plantilla"></button>
                    </div>
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Catálogo</label>
                    <div class="col-12 md:col-10">
                        <p-fileUpload name="myfile[]"
                                      [customUpload]="true"
                                      (uploadHandler)="fileUploader($event)"
                                      [auto]="true"
                                      [fileLimit]="1"
                                      uploadLabel="importar"
                                      chooseLabel="seleccionar archivo"
                                      cancelLabel="cancelar"
                        ></p-fileUpload>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton type="submit"
                    [disabled]="!importForm.valid"
                    pRipple label="Guardar" icon="pi pi-check"
            ></button>
            <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times"
                    class="p-button-secondary"
                    (click)="cancelImportDialog()"></button>

        </ng-template>

    </p-dialog>
</form>
