<div class="layout-footer">
    <div class="footer-logo-container">
        <img id="footer-logo" [src]="'assets/images/logo_osmosys_blue.png'" alt="osmosys"/>
        <!--<span class="footer-copyright">&#169; Hecho con amor en el -salvador</span>-->
    </div>
    <span (click)="showDialog = true" class="footer-copyright hover:surface-hover transition-colors transition-duration-150 cursor-pointer">V 5.0 SNPSH</span>
    <span class="footer-copyright">&#169; UNHCR -Hecho en El Salvador y Ecuador-  2024</span> 
    
    <p-dialog header="Change log" [(visible)]="showDialog" [modal]="true" [style]="{width: '50vw'}" (onHide)="showDialog = false">
        <h5 style="margin-top: 1rem;">Versión 5.0.1 Snapshot - 2024-12-31 </h5>
        <ul>
            <li>Cambios en Administración de Marco de Resultados</li>
            <li>Nuevo parámetro de configuración para Zona Horaria</li>
            <li>Cambios en plantilla de reporte</li>
            
        </ul>
        <h5 style="margin-top: 1rem;">Versión 5.0 Snapshot - 2024-12-26 </h5>
        <ul>
            <li>Cambios varios de interfaz</li>
            <li>Nuevos roles Regionales y Locales</li>
            
        </ul>
        <h5>Versión 4.0 </h5>
        <ul>
            <li>Versión inicial Regional.</li>
        </ul>        
        
        <button pButton type="button" label="Cerrar" icon="pi pi-times" (click)="showDialog = false"></button>
    </p-dialog>

</div>
