<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card px-6 py-6">
            <h3 class="page-title">Administración de Áreas</h3>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Crear" icon="pi pi-plus" class="p-button-success mr-2 mb-2"
                                (click)="createItem()"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel(dt)"
                            class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="items" [columns]="selectedColumns" [rows]="10" [paginator]="true"
                     [rowHover]="true" dataKey="id"
                     currentPageReportTemplate=" {first} a {last} de {totalRecords} "
                     [showCurrentPageReport]="true"
                     (sortFunction)="utilsService.customSort($event, cols)" [customSort]="true"
            >
                <ng-template pTemplate="caption">
                    <div class="grid">
                        <div
                            class="col-12 md:col-4 sm:col-12 justify-content-start">
                            <h5 class="m-0">Áreas</h5>
                        </div>
                        <div
                            class="col-12 md:col sm:col-12 flex justify-content-end">

                        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                           selectedItemsLabel="{0} columnas seleccionadas"
                                           [style]="{minWidth: '150px',color:'#6c757d'}"
                                           placeholder="Seleccione las columnas"
                                           appendTo="body"></p-multiSelect>
                            </div>

                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>

                        </th>
                    </tr>

                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <p-columnFilter *ngSwitchDefault [type]="col.type" [field]="col.field"
                                            [matchMode]="'contains'"
                                            [showMenu]="false"> matchMode="contains
                            </p-columnFilter>

                            <p-columnFilter *ngSwitchCase="'areaType'" type="equals" [field]="col.field"
                                            [showMenu]="false"
                            >
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="areaTypes"
                                                (onChange)="filter($event.value)"
                                                placeholder="Selecciona..." [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'state'" type="equals" [field]="col.field"
                                            [showMenu]="false"
                            >
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="states"
                                                (onChange)="filter($event.value)"
                                                placeholder="Selecciona..." [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th>

                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns"
                            [class]="  col.styleClass?col.styleClass: (col.type === 'numeric'?'text-right':null) "
                        >
                            {{ col.pipeRef ? col.pipeRef.transform(utilsService.resolveFieldData(rowData, col.field), col.arg1, col.arg2, col.arg3) : utilsService.resolveFieldData(rowData, col.field) }}
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2"
                                    (click)="editItem(rowData)"></button>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        {{dt.filteredValue?dt.filteredValue.length:dt.totalRecords}} de {{items?items.length:0}} áreas.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<form [formGroup]="formItem" (ngSubmit)="saveItem()">
    <p-dialog [(visible)]="showDialog" [style]="{width: '70%'}" header="Área" [modal]="true"
              [closable]="false">

        <ng-template pTemplate="content">
            <p-messages></p-messages>
            <div class="card p-fluid">
                <div class="field">
                    <label for="codeI">Código</label>
                    <input type="text" pInputText id="codeI"
                           formControlName="code" autofocus/>
                    <small class="p-error" *ngIf="utilsService.showErrorForm('code',formItem)">Campo
                        obligatorio.</small>
                </div>
                <div class="field">
                    <label for="shortDescriptionI">Descripción Corta</label>
                    <input type="text" pInputText id="shortDescriptionI"
                           formControlName="shortDescription"/>
                    <small class="p-error" *ngIf="utilsService.showErrorForm('shortDescription',formItem)">Campo
                        obligatorio.</small>
                </div>
                <div class="field">
                    <label for="descriptionI">Descripción Completa</label>

                    <textarea pInputTextarea id="descriptionI"
                              formControlName="description"
                              [autoResize]="true">
                        </textarea>

                    <small class="p-error" *ngIf="utilsService.showErrorForm('description',formItem)">Campo
                        obligatorio.</small>
                </div>
                <div class="field">
                    <label for="areaTypeI">Tipo</label>

                    <p-dropdown id="areaTypeI"
                                formControlName="areaType"
                                [options]="areaTypes"
                                placeholder="Selecciona..."
                                appendTo="body">
                    </p-dropdown>

                    <small class="p-error" *ngIf="utilsService.showErrorForm('areaType',formItem)">Campo
                        obligatorio.</small>
                </div>
                <div class="field">
                    <label for="stateI">Estado</label>

                    <p-selectButton id="stateI"
                                    formControlName="state"
                                    [options]="states"
                    >
                    </p-selectButton>

                    <small class="p-error" *ngIf="utilsService.showErrorForm('state',formItem)">Campo
                        obligatorio.</small>
                </div>
                <div class="field">
                    <label for="definitionI">Definición</label>

                    <textarea pInputTextarea id="definitionI"
                              formControlName="definition"
                              [autoResize]="true">
                        </textarea>

                    <small class="p-error" *ngIf="utilsService.showErrorForm('description',formItem)">Campo
                        obligatorio.</small>
                </div>
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton type="submit"
                    [disabled]="!formItem.valid"
                    pRipple label="Guardar" icon="pi pi-check"
            ></button>
            <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                    (click)="cancelDialog()"></button>

        </ng-template>
    </p-dialog>
</form>
