<p-card>
    <ng-template pTemplate="header">
        <h3 class="page-title p-mb-1">Implementaciòn Directa</h3>
        <h5 class="page-title p-mt-1">Indicadores reportados</h5>
        <p-card>
            <form [formGroup]="queryForm" (ngSubmit)="search()">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-3 p-md-3">
                        <label for="periodI">Periodo</label>
                        <p-dropdown id="periodI"
                                    formControlName="period"
                                    [options]="periodOptions"
                                    placeholder="Selecciona..."
                                    filter="true"
                                    appendTo="body"
                                    dataKey="id"
                        >
                        </p-dropdown>

                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('period',queryForm)">
                            {{utilsService.getErrorMessageForm('period', queryForm)}}
                        </small>
                    </div>
                    <div class="p-field p-col-3 p-md-3">
                        <label for="officeI">Oficina</label>
                        <p-dropdown id="officeI"
                                    formControlName="office"
                                    [options]="officeOptions"
                                    placeholder="Selecciona..."
                                    filter="true"
                                    appendTo="body"
                                    dataKey="id"
                                    showClear="true"
                        >
                        </p-dropdown>

                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('office',queryForm)">
                            {{utilsService.getErrorMessageForm('office', queryForm)}}
                        </small>
                    </div>
                    <div class="p-field p-col-3 p-md-3">
                        <label for="officeI">Usuario</label>
                        <p-dropdown id="userI"
                                    formControlName="user"
                                    [options]="userOptions"
                                    placeholder="Selecciona..."
                                    filter="true"
                                    appendTo="body"
                                    dataKey="id"
                                    showClear="true"
                        >
                        </p-dropdown>

                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('user',queryForm)">
                            {{utilsService.getErrorMessageForm('user', queryForm)}}
                        </small>
                    </div>
                    <div class="p-field p-col-3 p-md-3">
                        <label for="officeI">Roles</label>
                        <p-multiSelect id="rolesI"
                                       formControlName="roles"
                                       [options]="roleOptions"
                                       placeholder="Selecciona..."
                                       filter="true"
                                       appendTo="body"
                        >
                        </p-multiSelect>

                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('roles',queryForm)">
                            {{utilsService.getErrorMessageForm('roles', queryForm)}}
                        </small>
                    </div>
                    <div class="p-field p-col-3 p-md-3"></div>
                    <div class="p-field p-col-3 p-md-3"></div>
                    <div class="p-field p-col-3 p-md-3">
                        <p-messages></p-messages>
                        <p-toast></p-toast>
                    </div>
                    <div class="p-field p-col-3 p-md-3">
                        <button pButton type="submit"
                                label="Buscar" icon="pi pi-search"
                        ></button>
                    </div>
                </div>
            </form>
        </p-card>
    </ng-template>
    <div class="p-grid  p-jc-center ">
        <div class="p-col-12">
            <div class="p-d-flex p-flex-wrap">
                <div class="p-mb-2 p-p-2 p-col-3 text-center"
                     *ngFor="let area of areas">
                    <p-button
                        (onClick)="goToArea(area)"
                        styleClass="{{getButtonStyles(area)}}"
                        [style]="{'height':'10vh', 'width': '20vw'}"
                    >
                        <!--suppress HtmlUnknownTag -->
                        <ng-template pTemplate="content">
                            <div class="p-grid p-ai-center vertical-container"
                                 style="margin: 0; padding: 0;height:100%; width:100%;">
                                <div class="p-col-3" style="margin: 0; padding: 0;">
                                    <img
                                        style="max-height: 8vh;"
                                        alt="logo" src="{{'assets/images/areas_icons/'+area.area.code+'.svg'}}"
                                    />
                                </div>
                                <div class="p-col-8" style="margin: 0; padding: 0;">
                                    <span>{{area.area.description}}</span>
                                </div>
                                <div class="p-col-1" style="margin: 0; padding: 0;">
                                    <p-badge [value]="area.numberOfIndicators+''" severity="info"
                                             size="large"></p-badge>
                                    <p-badge *ngIf="(area.numberOfLateIndicators >0)"
                                             [value]="area.numberOfLateIndicators+''" severity="danger"
                                    ></p-badge>
                                </div>
                            </div>
                        </ng-template>
                    </p-button>

                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <form [formGroup]="queryForm" (ngSubmit)="search()">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-3 p-md-3">
                    <label for="periodI">Buscador de indicadores</label>
                    <p-dropdown id="indicatorI"
                                formControlName="indicator"
                                [options]="indicatorOptions"
                                placeholder="Selecciona..."
                                filter="true"
                                appendTo="body"
                                dataKey="id"
                                (onChange)="highlightIndicator($event.value)"
                                (onClear)="highlightIndicator(null)"
                                showClear="true"
                    >
                    </p-dropdown>
                </div>
            </div>
        </form>
    </ng-template>
</p-card>




