.loader-container.loderhide {
    display: none;
}

.loader-wrapper.loderhide {
    display: none;
}

.loader-wrapper {
    height: 100%;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10001;
    top: 0;
}

.loader {
    position: relative;
    margin: auto;
}
