<!-- Loader starts-->
<div #loader class="loader-wrapper" [class.loderhide]="!show">
    <div class="loader-container" [class.loderhide]="!show">
      <!-- Ícono o animación -->
      <div class="loader">
        <div class="bottom-section">
          <div class="bottom"></div>
          <div class="bottom"></div>
          <div class="bottom"></div>
          <div class="bottom"></div>
        </div>
        <div class="top-section">
          <div class="bottom"></div>
          <div class="bottom"></div>
          <div class="bottom"></div>
          <div class="bottom"></div>
        </div>
        <div class="middle"></div>     
      </div>

      <div class="footer"  *ngIf="progress !== undefined">
        <div class="progress">
            <div class="progress-bar" [style.width.%]="progress"></div>
        </div>    
        <!-- Texto de estado -->
        <div class="status">
            {{ statusText }}
        </div>   
        
        <div class="status">
          <p>Por favor, mantenga esta pestaña abierta y no la actualice hasta que la tarea se complete.</p>
        </div>   
      </div>
    
    </div>
  </div>
  <!-- Loader ends-->