<p-card>
    <ng-template pTemplate="header">
        <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center mr-2"><h3 class="text-primary">Tus Proyectos</h3>
            </div>
        </div>

        <div class="flex justify-content-center flex-wrap">
            <div class="grid p-fluid col-12">
                <div class="col-3 field">
                    <label for="periodI" class="text-900 font-semibold">Año</label>
                    <p-dropdown class="col-12" [style]="{'width':'90%'}" id="periodI"
                                (onChange)="loadPeriod($event.value)"
                                [options]="periods" [(ngModel)]="selectedPeriod"
                                optionLabel="year"
                                [filter]="true"
                    ></p-dropdown>
                </div>
                <div class="col-8 field">
                    <label for="projectI" class="text-900 font-semibold">Proyecto</label>
                    <p-dropdown class="col-12" [style]="{'width':'90%'}" id="projectI"
                                (onChange)="loadProject($event.value.id)"
                                [options]="projects" [(ngModel)]="selectedProject"
                                [filter]="true"
                    ></p-dropdown>
                </div>
            </div>
        </div>

    </ng-template>
    <div class="layout-dashboard" *ngIf="renderProject">
        <p-card>
            <ng-template pTemplate="header">
                <div class="grid">
                    <div class="col-6">
                        <h6>Proyecto:</h6>
                        <h1 class="blue-title">{{selectedProject.name}}</h1>
                    </div>
                    <div class="col-6">
                        <h6>Socio:</h6>
                        <h1 class="blue-title">{{selectedProject.organizationDescription}}</h1>
                    </div>
                </div>
            </ng-template>
            <div class="grid" *ngIf="generalIndicator">

                <div class="col-12">
                    <h4 class="blue-title" style="text-align: center">Total de Beneficiarios Únicos</h4>
                </div>
                <div class="col-4">
                    <div class="card no-gutter widget-overview-box widget-overview-box-1">
                            <span class="overview-icon">
                                <i class="pi pi-users"></i>
                            </span>
                        <span class="overview-title">Beneficiarios</span>
                        <div class="grid overview-detail">
                            <div class="col-6">
                                <div
                                    class="overview-number">{{generalIndicator.totalExecution ? generalIndicator.totalExecution : 0}}</div>
                                <div class="overview-subtext">Reportados</div>
                            </div>
                            <div class="col-6">
                                <div class="overview-number">{{generalIndicator.target}}</div>
                                <div class="overview-subtext">Meta</div>
                            </div>
                        </div>
                    </div>
                    <div class="card no-gutter widget-overview-box widget-overview-box-1">
                            <span class="overview-icon">
                                <i class="pi pi-users"></i>
                            </span>
                        <span class="overview-title">Reportes</span>
                        <div class="grid overview-detail">
                            <div class="col-6">
                                <div
                                    [ngClass]="generalIndicatorLate?'late_text':''"
                                    class="overview-number">{{generalIndicator.lastReportedQuarter ? generalIndicator.lastReportedQuarter.quarter + '-' + generalIndicator.lastReportedQuarter.year : 'No reportado'}}</div>
                                <div class="overview-subtext">Último Trimestre reportado</div>
                            </div>
                            <div class="col-6">
                                <div
                                    [ngClass]="generalIndicatorLate?'late_text':''"
                                    class="overview-number">{{generalIndicator.lastReportedMonth ? generalIndicator.lastReportedMonth.month + '-' + generalIndicator.lastReportedMonth.year : 'No reportado'}}</div>
                                <div class="overview-subtext">Último Mes Reportado</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card no-gutter orders">
                        <div class="grid">
                            <div class="col-12">
                            </div>
                            <div class="col-12">
                                <div class="overview-chart">
                                    <p-chart #chartBeneficiarios
                                             type="line"
                                             height="240"
                                             [data]="chartBeneficiariesMonths"
                                             [options]="chartBeneficiariesMonthsOptions"
                                             id="chartBeneficiarios"></p-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card no-gutter orders">
                        <div class="grid">
                            <div class="col-12">
                            </div>
                            <div class="col-12">
                                <div class="overview-chart">
                                    <p-chart #chartBeneficiariosTarget
                                             type="line"
                                             height="240"
                                             [data]="chartBeneficiariesTarget"
                                             [options]="chartBeneficiariesMonthsOptions"
                                             id="chartBeneficiariosTarget"></p-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="grid">

                <div class="col-12">
                    <h4 class="blue-title" style="text-align: center">Indicadores De Producto</h4>
                </div>

                <div class="col-6">
                    <div class="card no-gutter widget-overview-box widget-overview-box-2">
                            <span class="overview-icon">
                                <i class="pi pi-chart-line"></i>
                            </span>
                        <span class="overview-title">Indicadores de Producto</span>
                        <div class="grid overview-detail">
                            <div class="col-6">
                                <div

                                    class="overview-number">{{countPerformanceIndicators}}</div>
                                <div class="overview-subtext">Indicadores Asignados</div>
                            </div>
                            <div class="col-6">
                                <div class="overview-number"
                                     [ngClass]="countPerformanceIndicatorsLate>0?'late_text':''"
                                >{{countPerformanceIndicatorsLate}}</div>
                                <div class="overview-subtext">Indicadores pendientes de reporte</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card no-gutter widget-overview-box widget-overview-box-2">
                            <span class="overview-icon">
                                <i class="pi pi-chart-line"></i>
                            </span>
                        <span class="overview-title">Selecciona un Indicador de Producto</span>
                        <div class="grid overview-detail">
                            <p-dropdown class="col-10" [style]="{'width':'90%'}"
                                        (onChange)="loadPerformanceIndicator($event.value)"
                                        [options]="performanceIndicatorsSelectList"
                                        [(ngModel)]="selectedPerformanceIndicator"></p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card no-gutter widget-overview-box widget-overview-box-2" style="text-align: center">
                            <span class="overview-icon">
                                <i class="pi pi-chart-line"></i>
                            </span>
                        <span *ngIf="selectedPerformanceIndicator"
                              class="overview-title"> {{'Indicador: '
                        + selectedPerformanceIndicator.indicator.code
                        + '-' + selectedPerformanceIndicator.indicator.description}}</span>
                    </div>
                    <div class="grid">
                        <div class="col-4">
                            <div class="card no-gutter widget-overview-box widget-overview-box-1">
                            <span class="overview-icon">
                                <i class="pi pi-users"></i>
                            </span>
                                <span class="overview-title">Ejecución</span>
                                <div class="grid overview-detail" *ngIf="selectedPerformanceIndicator">
                                    <div class="col-6">
                                        <div
                                            class="overview-number">{{selectedPerformanceIndicator.totalExecution ? selectedPerformanceIndicator.totalExecution : 0}}</div>
                                        <div class="overview-subtext">Reportados</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="overview-number">{{selectedPerformanceIndicator.target}}</div>
                                        <div class="overview-subtext">Meta</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card no-gutter widget-overview-box widget-overview-box-1">
                            <span class="overview-icon">
                                <i class="pi pi-users"></i>
                            </span>
                                <span class="overview-title">Reportes</span>
                                <div class="grid overview-detail" *ngIf="selectedPerformanceIndicator">
                                    <div class="col-6">
                                        <div
                                            [ngClass]="generalIndicatorLate?'late_text':''"
                                            class="overview-number">{{selectedPerformanceIndicator.lastReportedQuarter ? selectedPerformanceIndicator.lastReportedQuarter.quarter + '-' + selectedPerformanceIndicator.lastReportedQuarter.year : 'No reportado'}}</div>
                                        <div class="overview-subtext">Último Trimestre reportado</div>
                                    </div>
                                    <div class="col-6">
                                        <div
                                            [ngClass]="generalIndicatorLate?'late_text':''"
                                            class="overview-number">{{selectedPerformanceIndicator.lastReportedMonth ? selectedPerformanceIndicator.lastReportedMonth.month + '-' + selectedPerformanceIndicator.lastReportedMonth.year : 'No reportado'}}</div>
                                        <div class="overview-subtext">Último Mes Reportado</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card no-gutter orders">
                                <div class="grid">
                                    <div class="col-12">
                                    </div>
                                    <div class="col-12">
                                        <div class="overview-chart">
                                            <p-chart #chartPerformance
                                                     type="line"
                                                     height="240"
                                                     [data]="chartPerformanceMonths"
                                                     [options]="chartBeneficiariesMonthsOptions"
                                                     id="chartPerformance"></p-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card no-gutter orders">
                                <div class="grid">
                                    <div class="col-12">
                                    </div>
                                    <div class="col-12">
                                        <div class="overview-chart">
                                            <p-chart #chartBeneficiariosTarget
                                                     type="line"
                                                     height="240"
                                                     [data]="chartPerformanceTarget"
                                                     [options]="chartBeneficiariesMonthsOptions"
                                                     id="chartPerformanceTarget"></p-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
    </div>


</p-card>
