<div class="login-body">
    <div class="login-wrapper">
        <div class="login-panel">
            <img src="assets/images/logos_unhcr/Horizontal%202%20lines%20blue.png" class="logo" alt="diamond-layout"/>

            <div class="login-form">
                <h2>OSMOSYS</h2>
                <p>Systema de monitoreo de operaciones</p>
                <input pInputText id="username" placeholder="Nombre de usuario"/>
                <input pPassword id="password" placeholder="Contraseña"/>
                <button pButton label="Ingresar" type="button"></button>
            </div>

            <p><a href="#">Recuperar contraseña</a></p>
        </div>
        <div class="login-image">
            <div class="login-image-content">
                <h1>OSMOSYS</h1>
                <h3>Sistema de Monitoreo de Operaciones<br>Ecuador</h3>

            </div>
            <div class="image-footer">
                <p>Si necesitas ayuda comunícate con  nosotros.</p>
                <div class="icons">
                    <a href="mailto:salazart@unhcr.org"><i class="pi pi-envelope" ></i></a>


                </div>
            </div>
        </div>
    </div>
</div>
