<p-panel>
    <ng-template pTemplate="header">
        Desagregación por Lugar, Tipo de Población, Edad y Género
    </ng-template>
    <p-accordion>
        <p-accordionTab *ngFor="let groupL1 of dissagregationOptionsGroupsL1">
            <ng-template pTemplate="header">
                <div class="p-grid p-jc-between" style="width:100%; border: solid #4caf50;">
                    <div class="p-col-6">{{groupL1.label}}</div>
                    <div class="p-col-3">{{groupL1.label}}</div>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <p-accordion>
                    <p-accordionTab *ngFor="let groupL2 of dissagregationOptionsGroupsL2">
                        <ng-template pTemplate="header">
                            <div class="p-grid p-jc-between" style="width:100%; border: solid #4caf50;">
                                <div class="p-col-6">{{groupL2.label}}</div>
                                <div class="p-col-3" style="text-align: end;">
                                    {{this.utilsService.getTotalIndicatorValuesArrayArray(valuesGroupRowsMap.get(groupL1).get(groupL2))}}
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <p-table *ngIf="values" [value]="valuesGroupRowsMap.get(groupL1).get(groupL2)">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th></th>
                                        <th *ngFor="let col of dissagregationOptionsColumns">{{col.label}}</th>
                                        <th>Totales</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                                    <tr>
                                        <td class="table-title">{{dissagregationOptionsRows[rowIndex].label}}</td>
                                        <td pEditableColumn
                                            *ngFor="let rowOp of dissagregationOptionsColumns; index as indexColumn"
                                            class="text-right">
                                            <p-cellEditor *ngIf="editable">
                                                <ng-template pTemplate="input">
                                                    <p-inputNumber
                                                        name="{{row[indexColumn].id}}"
                                                        [min]="0"
                                                        [(ngModel)]="row[indexColumn].value"
                                                    ></p-inputNumber>
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{row[indexColumn].value}}
                                                </ng-template>
                                            </p-cellEditor>
                                            <div *ngIf="!editable">
                                                {{row[indexColumn].value}}
                                            </div>
                                        </td>

                                        <td class="subtotal_value">{{this.utilsService.getTotalIndicatorValuesArray(row)}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td class="table-title">Totales</td>
                                        <td class="subtotal_value"
                                            *ngFor="let colOp of dissagregationOptionsColumns; index as indexColumn">
                                            {{this.utilsService.getTotalIndicatorValuesColumnArrayArray(valuesGroupRowsMap.get(groupL1).get(groupL2), indexColumn)}}
                                        </td>
                                        <td class="total_value">{{this.utilsService.getTotalIndicatorValuesArrayArray(valuesGroupRowsMap.get(groupL1).get(groupL2))}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-accordionTab>
                </p-accordion>
            </ng-template>

        </p-accordionTab>
    </p-accordion>
</p-panel>
