<p-panel>
    <ng-template pTemplate="header">
        Desagregación por Lugar, Tipo de Población, Edad y Género
    </ng-template>
    <p-accordion>
        <p-accordionTab *ngFor="let groupL1 of dissagregationOptionsGroupsL1"
                        [ngClass]="getTotalIndicatorValuesMap(valuesGroupRowsMap.get(groupL1))>0?'p-accordion-filled-parent':'p-accordion-empty-parent'"
        >
            <ng-template pTemplate="header">
                <div class="p-grid p-jc-between" style="width:100%;">
                    <div class="p-col-9">{{groupL1.label}}</div>
                    <div class="p-grid p-col-3 p-jc-sm-end ">
                        <div class="p-grid p-m-2 p-p-2 p-col-6" style="color: black;"
                             [style.background]="getTotalIndicatorValuesMap(valuesGroupRowsMap.get(groupL1))>0?'#C8E6C9':'#FEEDAF'"
                        >
                            <div class="p-col-6 p-p-0">Total:</div>
                            <div class="p-col-6 p-p-0"
                                 style="text-align: right">{{getTotalIndicatorValuesMap(valuesGroupRowsMap.get(groupL1)) | number:'1.0-0'}}</div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <p-accordion>
                    <p-accordionTab *ngFor="let groupL2 of dissagregationOptionsGroupsL2"
                    >
                        <ng-template pTemplate="header">
                            <div class="p-grid p-jc-between" style="width:100%;">
                                <div class="p-col-9">{{groupL2.label}}</div>
                                <div class="p-grid p-col-3 p-jc-sm-end ">
                                    <div class="p-grid p-m-2 p-p-2 p-col-6" style="color: black;"
                                         [style.background]="this.utilsService.getTotalIndicatorValuesArrayArray(valuesGroupRowsMap.get(groupL1).get(groupL2))>0?'#C8E6C9':'#FEEDAF'"
                                    >
                                        <div class="p-col-6 p-p-0">Total:</div>
                                        <div class="p-col-6 p-p-0" style="text-align: right">
                                            {{this.utilsService.getTotalIndicatorValuesArrayArray(valuesGroupRowsMap.get(groupL1).get(groupL2)) | number:'1.0-0'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <p-table *ngIf="values" [value]="valuesGroupRowsMap.get(groupL1).get(groupL2)">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th></th>
                                        <th *ngFor="let col of dissagregationOptionsColumns">{{col.label}}</th>
                                        <th>Totales</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                                    <tr>
                                        <td class="table-title">{{dissagregationOptionsRows[rowIndex].label}}</td>
                                        <td pEditableColumn
                                            *ngFor="let rowOp of dissagregationOptionsColumns; index as indexColumn"
                                            class="text-right">
                                            <p-cellEditor *ngIf="editable">
                                                <ng-template pTemplate="input">
                                                    <p-inputNumber
                                                        name="{{row[indexColumn].id}}"
                                                        [min]="0"
                                                        [(ngModel)]="row[indexColumn].value"
                                                    ></p-inputNumber>
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{row[indexColumn].value}}
                                                </ng-template>
                                            </p-cellEditor>
                                            <div *ngIf="!editable">
                                                {{row[indexColumn].value}}
                                            </div>
                                        </td>

                                        <td class="subtotal_value">{{this.utilsService.getTotalIndicatorValuesArray(row)}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td class="table-title">Totales</td>
                                        <td class="subtotal_value"
                                            *ngFor="let colOp of dissagregationOptionsColumns; index as indexColumn">
                                            {{this.utilsService.getTotalIndicatorValuesColumnArrayArray(valuesGroupRowsMap.get(groupL1).get(groupL2), indexColumn)}}
                                        </td>
                                        <td class="total_value">{{this.utilsService.getTotalIndicatorValuesArrayArray(valuesGroupRowsMap.get(groupL1).get(groupL2))}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-accordionTab>
                </p-accordion>
            </ng-template>

        </p-accordionTab>
    </p-accordion>
</p-panel>
