<div class="layout-topbar">
    <div class="topbar-left">
        <a tabindex="0" class="menu-button" (click)="appMain.onMenuButtonClick($event)">
            <i class="pi pi-chevron-left"></i>
        </a>
        <img id="logo-horizontal" class="horizontal-logo" [routerLink]="['/']"
             [src]="'assets/images/unhcr_logo.png'" alt="diamond-layout"/>
        <span class="topbar-separator"></span>
        <ng-template ngFor let-item let-last="last" [ngForOf]="items">

            <span class="viewname" style="text-transform: uppercase">{{item.label}}</span>
        </ng-template>
        <img id="logo-mobile" class="mobile-logo" [src]="'assets/images/unhcr_logo.png'" alt="diamond-layout"/>
    </div>

    <app-menu></app-menu>

    <div class="layout-mask modal-in"></div>

    <div style="display: flex; align-items: center; flex-grow: 2">
        <img style="margin: auto; max-height: 3rem; display: block;" src="../../../assets/images/logo_osmosys_blue.png"
             alt="diamond-layout"/>
    </div>
    <div class="topbar-right">
        <ul class="topbar-menu">
            <!--            <li class="search-item">
                            <a tabindex="0" (click)="appMain.onSearchClick($event)">
                                <i class="pi pi-search"></i>
                            </a>
                        </li>-->

            <li class="profile-item" [ngClass]="{'active-menuitem fadeInDown': appMain.topbarUserMenuActive}">
                <a href="#" (click)="appMain.onTopbarUserMenuButtonClick($event)">
                    <img src="../../assets/demo/images/avatar/profile.jpg" alt="diamond-layout" class="profile-image"/>
                    <span class="profile-name">Amelia Stone</span>
                </a>
                <ul class="profile-menu fade-in-up">
                    <li>
                        <a href="#" [routerLink]="['/users/userProfile']">
                            <i class="pi pi-user-edit "></i>
                            <span>Mis datos de usuario</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/users/changePassword']">
                            <i class="pi pi-lock"></i>
                            <span>Cambiar Contraseña</span>
                        </a>
                    </li>
                    <li>
                        <a href="" (click)="logout()">
                            <i class="pi pi-power-off"></i>
                            <span>Salir del sistema</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
