<div class="login-body">
    <p-toast id="loginToast"></p-toast>
    <div class="login-wrapper">
        <div class="login-panel">
            <div style="display: flex;">
                <img style="margin: auto; max-width: 100%;" src="../../../assets/images/logo_osmosys_blue.png" alt="diamond-layout"/>
            </div>


            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="login-form">

                    <p>Sistema de monitoreo de operaciones</p>
                    <input pInputText id="username" formControlName="username" placeholder="Nombre de usuario"/>
                    <p-password [toggleMask]="true" [feedback]="false" id="password" placeholder="Contraseña"
                                formControlName="password"></p-password>
                    <br>
                    <button pButton label="Ingresar" type="submit"></button>
                    <br>
                    <p-messages></p-messages>
                </div>
                <p><a href="#">Recuperar contraseña</a></p>
            </form>

            <div class="icons">
                <p>Si necesitas ayuda comunícate con nosotros.<a href="mailto:salazart@unhcr.org"><i
                    class="pi pi-envelope"></i></a></p>
            </div>

        </div>
        <div class="login-image">
            <div class="login-image-content"
                 style=" "
            >


            </div>
            <div class="image-footer">
               <!-- <img src="../../../assets/images/logos_unhcr/Horizontal%202%20lines%20blue.png" class="logo"
                     alt="diamond-layout" style="width: inherit">-->
                <!--<h3>Sistema de Monitoreo de Operaciones<br>Ecuador</h3>-->
            </div>
        </div>
    </div>
</div>
