<div class="login-body">
    <p-toast id="loginToast"></p-toast>
    <div class="login-wrapper">
        <div class="login-panel">
            <div style="display: flex;">
                <img style="margin: auto; max-width: 100%;" src="assets/images/logo_osmosys_blue.png"
                     alt="diamond-layout"/>
            </div>


            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="login-form">

                    <p>Sistema de Monitoreo de Operaciones</p>
                    <input pInputText id="username" formControlName="username" placeholder="Nombre de usuario"/>
                    <p-password [toggleMask]="true" [feedback]="false" id="password" placeholder="Contraseña"
                                formControlName="password"></p-password>
                    <br>
                    <button pButton label="Ingresar" type="submit"></button>
                    <br>
                    <p-messages></p-messages>
                </div>
                <p>
                    <button pripple="" class="p-button-link p-button p-component p-ripple" type="button"
                            [routerLink]="['/recover_password']"
                    ><!---->
                        <span class="p-button-label">Recuperar contraseñas</span>
                        <span class="p-ink"
                              style="height: 53px; width: 53px; top: -8.5px; left: 3.23438px;"></span>
                    </button>
                </p>
            </form>

            <div class="icons">
                <p>Si necesitas ayuda comunícate con nosotros.<a href="mailto:salazart@unhcr.org"><i
                    class="pi pi-envelope"></i></a></p>
            </div>

        </div>
        <div class="login-image">
            <div class="login-image-content"
                 style=" "
            >

            </div>
            <div class="image-footer">
                <!-- <img src="../../../assets/images/logos_unhcr/Horizontal%202%20lines%20blue.png" class="logo"
                      alt="diamond-layout" style="width: inherit">-->
                <!--<h3>Sistema de Monitoreo de Operaciones<br>Ecuador</h3>-->
                <div class="introtext p-m-2">

                    <p style="text-align:justify">ACNUR Ecuador trabaja para brindar protecci&oacute;n y promover la
                        inclusi&oacute;n de las personas solicitantes de asilo, refugiadas, ap&aacute;tridas y otras que
                        se vieron obligadas a salir de sus pa&iacute;ses. En el marco de la adopci&oacute;n de un nuevo
                        enfoque de Gesti&oacute;n Basada en Resultados (RBM, por sus siglas en ingl&eacute;s), la
                        operaci&oacute;n de ACNUR Ecuador monitorea sus programas y actividades para asegurar los
                        resultados y efectos de su gesti&oacute;n.</p>

                    <p style="text-align:justify">Gracias al trabajo conjunto de m&aacute;s de 23 socios, y las oficinas
                        de terreno de ACNUR, ACNUR ejecuta y monitorea actividades dispersas en el pa&iacute;s para
                        asegurar la protecci&oacute;n de las personas refugiadas y solicitantes de asilo, as&iacute;
                        como para apoyar a las comunidades que las acogen.</p>

                    <p style="text-align:justify">Usando este sistema de informaci&oacute;n, OSMOSYS, hecho a medida por
                        los equipos Programas y Gesti&oacute;n de Informaci&oacute;n, la organizaci&oacute;n monitorea
                        las actividades ejecutadas por cada organizaci&oacute;n socia y por implementaci&oacute;n
                        directa de ACNUR. El sistema recoge informaci&oacute;n referente a los resultados de estas
                        actividades, por ejemplo, personas de inter&eacute;s asistidas en diferentes &aacute;rea de trabajo
                        como Protecci&oacute;n, Habitabilidad, Necesidades B&aacute;sicas, Informaci&oacute;n P&uacute;blica,
                        etc. Como resultado, las unidades de Gesti&oacute;n de Informaci&oacute;n y Programas son
                        capaces de producir informaci&oacute;n oportuna y precisa para monitorear la operaci&oacute;n y
                        tomar decisiones de planificaci&oacute;n y estrategia.</p>
                </div>
            </div>
        </div>
    </div>
</div>
