<div>
    <div class="authentication-box">
        <p-toast position="center"></p-toast>
        <div class="p-grid">
            <div class="p-col-12">
                <form
                    autocomplete="off"
                    [formGroup]="changePasswordForm"
                    (ngSubmit)="changePassword()"
                >
                    <p-card>

                        <ng-template pTemplate="header">
                            <div class="p-m-2" style="text-align: center">
                                <h4 class="blue-title">Cambio de contraseña</h4>
                                <div class="text-center">

                                    <img class="center" src="assets/images/osmosys_unhcr_blue.png"
                                         alt="">

                                </div>
                            </div>
                        </ng-template>
                        <div class="p-fluid">
                            <div class="p-field">
                                <label for="oldPasswordI">Contraseña actual</label>
                                <input pInputText id="oldPasswordI" type="password" placeholder="" formControlName="oldpass">
                            </div>
                            <div class="p-field">
                                <label for="newpassI">Nueva Contraseña</label>
                                <input pInputText id="newpassI" type="password" placeholder="" formControlName="newpass">
                            </div>
                            <div class="p-field">
                                <label for="newpass2I">Confirmación Nueva Contraseña</label>
                                <input pInputText id="newpass2I" type="password" placeholder="" formControlName="newpass2">
                            </div>
                            <div class="text-danger">
                                <p *ngIf="validField('oldpass')">La contraseña actual es obligatoria</p>
                                <p *ngIf="validField('newpass')">La contraseña nueva es obligatoria</p>
                                <p *ngIf="validField('newpass2')">La confirmación de la contraseña es obligatoria</p>
                                <p *ngIf="newPasswordValidation()">La confirmación de la contraseña debe ser igual a la nueva contraseña</p>
                            </div>
                        </div>
                        <ng-template pTemplate="footer">

                            <div class="p-d-flex p-jc-end p-m-2">
                                <p-button class="btn btn-primary p-mr-2" type="submit">Enviar</p-button>
                                <p-button class="btn btn-primary p-mr-2" type="button" (click)="cancelar()">Cancelar
                                </p-button>
                            </div>
                        </ng-template>
                    </p-card>
                </form>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog #cd header="Recuperación de contraseña">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Ok" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
