<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card px-6 py-6">
            <h3 class="page-title">Cambio de contraseña</h3>
            <form
                autocomplete="off"
                [formGroup]="changePasswordForm"
                (ngSubmit)="changePassword()"
            >
                <p-card class="">
                    <div class="field ">
                        <label for="oldPasswordI">Contraseña actual</label>
                        <div class="p-col">
                            <input pInputText id="oldPasswordI" type="password" placeholder=""
                                   formControlName="oldpass"></div>
                    </div>
                    <div class="field ">
                        <label for="newpassI">Nueva Contraseña</label>
                        <div class="p-col">
                            <input pInputText id="newpassI" type="password" placeholder="" formControlName="newpass">
                        </div>
                    </div>
                    <div class="field">
                        <label for="newpass2I">Confirmación Nueva Contraseña</label>
                        <div class="p-col">
                            <input pInputText id="newpass2I" type="password" placeholder="" formControlName="newpass2">
                        </div>
                    </div>
                    <div class="text-danger">
                        <p *ngIf="validField('oldpass')">La contraseña actual es obligatoria</p>
                        <p *ngIf="validField('newpass')">La contraseña nueva es obligatoria</p>
                        <p *ngIf="validField('newpass2')">La confirmación de la contraseña es obligatoria</p>
                        <p *ngIf="newPasswordValidation()">La confirmación de la contraseña debe ser igual a la
                            nueva contraseña</p>
                    </div>
                    <ng-template pTemplate="footer">

                        <div class="p-d-flex p-jc-end p-m-2">
                            <button pButton class="btn btn-primary mr-2" type="submit">Enviar</button>
                            <button pButton class="btn btn-primary mr-2" type="button" (click)="cancelar()">Cancelar
                            </button>
                        </div>
                    </ng-template>
                </p-card>
            </form>
        </div>
    </div>
</div>

<p-confirmDialog #cd header="Recuperación de contraseña">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Ok" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
