<div class="card">
    <p-table [value]="quarterMonthResumes" rowGroupMode="rowspan" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Año</th>
                <th>Meta Total</th>
                <th>Ejecución Total</th>
                <th>% Ejecución Total</th>
                <th>Mes</th>
                <th>Ejecución Mensual</th>
                <th></th>
                <th *ngIf="isAdmin || isProjectFocalPoint">Bloqueo Mes</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowdata let-rowIndex="rowIndex">
            <tr>
                <td *ngIf="rowdata.yearSpan" [attr.rowspan]="rowdata.yearSpanCount">
                    <span class="p-text-bold p-ml-2">{{rowdata.quarterYear}}</span>
                </td>
                <td *ngIf="rowIndex===0" [attr.rowspan]="monthsCount">
                    <span class="p-text-bold p-ml-2">{{indicatorExecution.target}}</span>
                </td>
                <td *ngIf="rowIndex===0" [attr.rowspan]="monthsCount">
                    <span class="p-text-bold p-ml-2">{{indicatorExecution.totalExecution}}</span>
                </td>
                <td *ngIf="rowIndex===0" [attr.rowspan]="monthsCount">
                    <span class="p-text-bold p-ml-2">{{indicatorExecution.executionPercentage | percent}}</span>
                </td>
                <td>
                    <span class="p-text-bold p-ml-2"
                    >{{rowdata.monthMonth }}</span>
                </td>
                <td style="text-align: center !important;">

                    <span
                        [class]="'values-badge status-'+utilsService.valueToBadgeStatusAlert(rowdata.monthLate)"
                        class="p-text-bold p-ml-2">{{rowdata.monthTotalExecution | valuesState:rowdata.monthTotalExecution :rowdata.monthLate}}</span>
                </td>
                <td>
                    <button type="button" pButton label="Ver valores"
                            (click)="callMonthInParenth(rowdata.monthId, rowdata.monthMonth, rowdata.monthYear)"></button>
                </td>
                <td *ngIf="isAdmin || isProjectFocalPoint">
                    <p-toggleButton
                        [ngModelOptions]="{standalone: true}"
                        [ngModel]="rowdata.blockUpdate"
                        onLabel="{{' bloqueado'}}"
                        offLabel="{{' desbloqueado'}}"
                        onIcon="pi pi-lock"
                        offIcon="pi pi-lock-open"
                        pTooltip="{{indicatorExecution.indicator.blockAfterUpdate?'Solo puede ser desbloqueado por el administrador':'Bloqueo de Actualizaciòn' }}"
                        [disabled]="indicatorExecution.indicator.blockAfterUpdate && !isAdmin"
                        (onChange)="changeMonthBlocking(rowdata,$event)"></p-toggleButton>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
