<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>

        <div class="card">
            <h3 class="page-title">Administración de Periodos</h3>
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Crear" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                            (click)="createItem()"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel(dt)"
                            class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items" [columns]="selectedColumns" [rows]="10" [paginator]="true"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate=" {first} a {last} de {totalRecords} "
                     [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Periodos</h5>
                        <span class="p-input-icon-left">
                        <!--<i class="pi pi-search"></i>-->
                            <!--<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />-->
                        </span>
                        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                       selectedItemsLabel="{0} columnas seleccionadas"
                                       [style]="{minWidth: '200px',color:'#6c757d'}"
                                       placeholder="Seleccione las columnas"></p-multiSelect>
                    </div>

                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>

                        </th>
                    </tr>

                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <p-columnFilter *ngSwitchDefault [field]="col.field"
                                            [matchMode]="'contains'"
                                            [showMenu]="false">
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'state'" type="equals" [field]="col.field"
                                            [showMenu]="false"
                            >
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="states"
                                                (onChange)="filter($event.value)"
                                                placeholder="Selecciona..." [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th>

                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns"
                            [class]="  col.styleClass?col.styleClass: (col.type === 'numeric'?'text-right':null) "
                        >
                            {{ col.pipeRef ? col.pipeRef.transform(utilsService.resolveFieldData(rowData, col.field), col.arg1, col.arg2, col.arg3) : utilsService.resolveFieldData(rowData, col.field) }}
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editItem(rowData)"></button>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Total {{items ? items.length : 0 }} periodos.
                    </div>
                </ng-template>
            </p-table>
        </div>
        <form [formGroup]="formItem" (ngSubmit)="saveItem()">
            <p-dialog [(visible)]="showDialog" [style]="{width: '80%'}" header="Periodo" [modal]="true"
                      styleClass="p-fluid" [closable]="false">

                <ng-template pTemplate="content">
                    <p-messages></p-messages>
                    <div class="p-field">
                        <label for="yearI">Año</label>
                        <p-inputNumber id="yearI"
                                       formControlName="year" autofocus></p-inputNumber>
                        <small class="p-error" *ngIf="utilsService.showErrorForm('year',formItem)">Campo
                            obligatorio.</small>
                    </div>
                    <div class="p-field">
                        <label for="stateI">Estado</label>

                        <p-selectButton id="stateI"
                                        formControlName="state"
                                        [options]="states"
                        >
                        </p-selectButton>

                        <small class="p-error" *ngIf="utilsService.showErrorForm('state',formItem)">Campo
                            obligatorio.</small>
                    </div>
                    <div class="p-field">

                        <p-triStateCheckbox id="hasGeneralIndicatorI"
                                            label="Tiene indicador general para socios?"
                                            formControlName="hasGeneralIndicator"
                                            (onChange)="hasGeneralIndicatorValueChange($event.value)"
                        >
                        </p-triStateCheckbox>

                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('hasGeneralIndicator',formItem)">{{utilsService.getErrorMessageForm('hasGeneralIndicator', formItem)}}</small>
                    </div>
                    <p-panel header="Indicador General" [toggleable]="true"
                             *ngIf="formItem.get('hasGeneralIndicator').value">
                        <div class="p-card p-fluid p-formgrid p-grid">
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-12 p-md-12">
                                    <label for="descriptionI">Descripción</label>
                                    <textarea pInputTextarea id="descriptionI"
                                              formControlName="generalIndicatorDescription"
                                              maxlength="255" autoResize="true"
                                    ></textarea>
                                    <small class="p-error"
                                           *ngIf="utilsService.showErrorForm('generalIndicatorDescription',formItem)">{{utilsService.getErrorMessageForm('generalIndicatorDescription', formItem)}}</small>
                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <label for="measureTypeI">Tipo</label>

                                    <p-dropdown id="measureTypeI"
                                                formControlName="generalIndicatorMeasureType"
                                                [options]="measureTypes"
                                                placeholder="Selecciona..."
                                                appendTo="body">
                                    </p-dropdown>

                                    <small class="p-error"
                                           *ngIf="utilsService.showErrorForm('generalIndicatorMeasureType',formItem)">{{utilsService.getErrorMessageForm('generalIndicatorMeasureType', formItem)}}</small>

                                </div>
                                <div class="p-field p-col-12 p-md-4">
                                    <label for="generalIndicatorStateI">Estado</label>

                                    <p-selectButton id="generalIndicatorStateI"
                                                    formControlName="generalIndicatorState"
                                                    [options]="states"
                                    ></p-selectButton>

                                    <small class="p-error"
                                           *ngIf="utilsService.showErrorForm('generalIndicatorState',formItem)">{{utilsService.getErrorMessageForm('generalIndicatorState', formItem)}}</small>

                                </div>
                                <div class="p-field p-col-12 p-md-12">
                                    <label>Desagregaciones Globales</label>
                                    <div class="p-field p-col-12 p-md-12" style="border: 1px solid #ced4da;">
                                        <p-scrollPanel [style]="{width: '100%', height: '80px'}">
                                            <div class="p-formgroup-inline p-pt-2">
                                                <div class="p-field-checkbox p-col-12 p-md-2"
                                                     *ngFor="let category of dissagregationTypes">
                                                    <!--suppress AngularInvalidExpressionResultType -->
                                                    <p-checkbox name="group1" [inputId]="category.value"
                                                                [value]="category.value"
                                                                [formControl]="formItem.controls['generalIndicatorDissagregations']">
                                                    </p-checkbox>
                                                    <label [for]="category.value">{{category.label}}</label>
                                                </div>

                                            </div>
                                        </p-scrollPanel>
                                    </div>
                                    <small class="p-error"
                                           *ngIf="utilsService.showErrorForm('generalIndicatorDissagregations',formItem)">{{utilsService.getErrorMessageForm('generalIndicatorDissagregations', formItem)}}</small>
                                </div>
                            </div>
                        </div>
                    </p-panel>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton type="submit"
                            [disabled]="!formItem.valid"
                            pRipple label="Guardar" icon="pi pi-check"
                    ></button>
                    <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                            (click)="cancelDialog()"></button>
                    <p-messages></p-messages>
                </ng-template>
            </p-dialog>
        </form>
    </div>
</div>
