<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card px-6 py-6">
            <p-table #dt [value]="items" [columns]="selectedColumns" [rows]="10" [paginator]="true"
                [rowHover]="true" dataKey="id" styleClass="p-datatable-striped" 
                currentPageReportTemplate=" {first} a {last} de {totalRecords} "
                [showCurrentPageReport]="true"
                (sortFunction)="utilsService.customSort($event, cols)" [customSort]="true"
            >
                <ng-template pTemplate="caption">
                    <div class="grid">
                        <div
                            class="col-12 md:col-4 sm:col-12 justify-content-start">
                            <h3 class="m-0">Marco de Resultados</h3>
                        </div>
                        <div                           
                            class="col-12 md:col sm:col-12 flex justify-content-end">
                            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                selectedItemsLabel="{0} columnas seleccionadas"
                                [style]="{minWidth: '150px',color:'#6c757d'}"
                                placeholder="Seleccione las columnas"
                                appendTo="body"></p-multiSelect>
                            <button pButton pRipple label="Crear" icon="pi pi-plus" class="main-button mr-2 mb-2"
                            (click)="createItem()" style="margin-left: 2rem;" pTooltip="Crear un Marco de Resultado" tooltipPosition="bottom"></button>

                            <button *ngIf="false" pButton pRipple label="Importar" icon="pi pi-file-import" class="second-button mr-2 mb-2"
                            (click)="initiateCatalogImport()" style="margin-left: 1rem;" pTooltip="Importar catálogo de declaraciones" tooltipPosition="bottom"></button>                        
                      
                            <button pButton pRipple label="Exportar" icon="pi pi-file-excel" class="second-button mr-2 mb-2"
                            (click)="exportExcel(dt)" style="margin-left: 1rem;" pTooltip="Exportar a Excel" tooltipPosition="bottom"></button>                        
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>

                        </th>
                    </tr>

                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <p-columnFilter *ngSwitchDefault [type]="col.type" [field]="col.field"
                                            [matchMode]="'contains'"
                                            [showMenu]="false"> matchMode="contains
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'state'" type="equals" [field]="col.field"
                                            [showMenu]="false"
                            >
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="states"
                                                (onChange)="filter($event.value)"
                                                placeholder="Selecciona" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'areaType'" type="equals" [field]="col.field"
                                            [showMenu]="false"
                            >
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="areaTypesItems"
                                                (onChange)="filter($event.value)"
                                                placeholder="Selecciona" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'area'" type="equals" [field]="col.field"
                                            [showMenu]="false" [matchMode]="'objectIdFilter'"
                            >
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="areasItems"
                                                (onChange)="filter($event.value)"
                                                [filter]=true
                                                placeholder="Selecciona" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'pillar'" type="equals" [field]="col.field"
                                            [showMenu]="false" [matchMode]="'objectIdFilter'"
                            >
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="pillarsItems" 
                                            (onChange)="filter($event.value)"
                                            [filter]=true
                                            placeholder="Selecciona" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span
                                            [class]="'customer-badge status-' + option">{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                            </p-columnFilter>                           
                            <p-columnFilter *ngSwitchCase="'parentStatement'"
                                            type="text"
                                            [field]="col.field" [showMenu]="false"
                                            [matchMode]="'parentStatementFilter'">
                            </p-columnFilter>
                            <p-columnFilter *ngSwitchCase="'periodStatementAsignations'" type="equals"
                                            [field]="col.field"
                                            [showMenu]="false" [matchMode]="'periodStatementAsignationsFilter'">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="periodsItems" 
                                            (onChange)="filter($event.value)"
                                            [filter]=true
                                            appendTo="body"
                                            placeholder="Selecciona">
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option.label}}</span>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th>

                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns" [style]="{width:
                            col.field === 'code'?'15%':
                            col.field === 'areaType'?'10%':
                            col.field === 'parentStatement'?'30%':
                            col.field === 'description'?'30%':
                            col.field === 'area'?'10%':
                            col.field === 'periodStatementAsignations'?'10%':'0%'
                        }"
                            [class]="col.styleClass?col.styleClass: (col.type === 'numeric'?'text-center':null)"
                        >
                            {{ col.pipeRef ? col.pipeRef.transform(utilsService.resolveFieldData(rowData, col.field), col.arg1, col.arg2, col.arg3) : utilsService.resolveFieldData(rowData, col.field) }}
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2"
                                    (click)="editItem(rowData)"></button>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        {{dt.filteredValue ? dt.filteredValue.length : dt.totalRecords}} de {{items ? items.length : 0}}
                        declaraciones.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<form [formGroup]="formItem" (ngSubmit)="saveItem()">
    <p-dialog [(visible)]="showDialog" header="Marco de Resultados" [modal]="true"
              [closable]="false">

        <ng-template pTemplate="content">
            <p-messages></p-messages>
            <div class="card">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-4 md:col-4">
                        <label for="areaTypeI">Nivel de Resultado *:</label>
                        <p-dropdown id="areaTypeI"
                                    formControlName="areaType"
                                    [options]="areaTypesItems"
                                    placeholder="Selecciona"
                                    [filter]=true
                                    appendTo="body"
                                    [panelStyle]="{'width':'80%'}"
                                    (onChange)="onResultLevelChange($event.value)"
                        >
                        </p-dropdown>
                        <small class="p-error" *ngIf="utilsService.showErrorForm('areaType',formItem)">Campo
                            obligatorio.</small>
                    </div>
                    <div class="field col-4 md:col4 p-sm-12">
                        <label for="periodsI">Años *:</label>
                        <p-multiSelect id="periodsI"
                            [options]="periodsItems"
                            appendTo="body"
                            formControlName="periods"
                            [dataKey]="'id'"
                            (onChange)="filterStatementsByPeriod($event.value)"
                            placeholder="Selecciona">

                        </p-multiSelect>

                        <small class="p-error" *ngIf="utilsService.showErrorForm('situation',formItem)">Campo
                            obligatorio.</small>
                    </div>

                    <div class="field col-3 md:col3 p-sm-12">
                        <label for="areaI">Área:</label>

                        <p-dropdown id="areaI"
                                    formControlName="area"
                                    [options]="filterAreaList"
                                    placeholder="Selecciona"
                                    [filter]=true
                                    appendTo="body"
                        >
                        </p-dropdown>

                        <small class="p-error" *ngIf="utilsService.showErrorForm('area',formItem)">Campo
                            obligatorio.</small>
                    </div>
                    
                    <div class="field col-4 md:col-4">
                        <label for="areaI">Enunciado padre:</label>
                        <p-dropdown id="parentStatementI"
                                    formControlName="parentStatement"
                                    [options]="parentStatementsItemsFiltered"
                                    placeholder="Selecciona"
                                    [filter]=true
                                    appendTo="body"
                                    dataKey="id"
                                    [panelStyle]="{'width':'80%'}"
                        >
                        </p-dropdown>
                        <small class="p-error" *ngIf="utilsService.showErrorForm('parentStatement',formItem)">Campo
                            obligatorio.</small>
                    </div>

                    <div class="field col-4 md:col-4">
                        <label for="codeI">Código *:</label>
                        <input type="text" pInputText id="codeI"
                               formControlName="code" autofocus/>
                        <small class="p-error" *ngIf="utilsService.showErrorForm('code',formItem)">Campo
                            obligatorio.</small>
                    </div>

                    <div class="field col-3 md:col3 p-sm-12 ">
                        <label for="pillarI">Grupo Poblacional *:</label>

                        <p-dropdown id="pillarI"
                                    formControlName="pillar"
                                    [options]="pillarsItems"
                                    placeholder="Selecciona"
                                    [filter]=true
                                    appendTo="body"
                        >
                        </p-dropdown>

                        <small class="p-error" *ngIf="utilsService.showErrorForm('pillar',formItem)">Campo
                            obligatorio.</small>
                    </div>

                    <div class="field col-12 md:col12">
                        <label for="descriptionI">Descripción Completa *:</label>

                        <textarea pInputTextarea id="descriptionI"
                                  formControlName="description"
                                  [autoResize]="true">
                        </textarea>

                        <small class="p-error" *ngIf="utilsService.showErrorForm('description',formItem)">Campo
                            obligatorio.</small>
                    </div>
                    <div class="field col-3 md:col3 ">
                        <label for="stateI">Estado *:</label>

                        <p-selectButton id="stateI"
                                        formControlName="state"
                                        [options]="states"
                        >
                        </p-selectButton>

                        <small class="p-error" *ngIf="utilsService.showErrorForm('state',formItem)">Campo
                            obligatorio.</small>
                    </div>
                    
                    
                    <!-- <div class="field col-3 md:col3 p-sm-12">
                        <label for="areaI">Situation *</label>

                        <p-dropdown id="situationI"
                                    formControlName="situation"
                                    [options]="situationsItems"
                                    placeholder="Selecciona"
                                    [filter]=true
                                    appendTo="body"
                        >
                        </p-dropdown>

                        <small class="p-error" *ngIf="utilsService.showErrorForm('situation',formItem)">Campo
                            obligatorio.</small>
                    </div> -->

                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton type="submit"
                    [disabled]="!formItem.valid"
                    pRipple label="Guardar" icon="pi pi-check"
            ></button>
            <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times"
                    class="p-button-secondary"
                    (click)="cancelDialog()"></button>

        </ng-template>

    </p-dialog>
</form>

<form [formGroup]="importForm" (ngSubmit)="importCatalog()">
    <p-dialog [(visible)]="showDialogImport" header="Importación de catalogo de declaraciones" [modal]="true"
              [closable]="false">

        <ng-template pTemplate="content">
            <p-messages></p-messages>

            <div class="card p-fluid">
                <h5>
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="downloadImportTemplate()"
                            class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"
                            label="Descargar Plantilla"></button>
                </h5>

                <div class="field grid">
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Año</label>
                    <div class="col-12 md:col-10">
                        <p-dropdown
                            id="periodI"
                            formControlName="period"
                            [options]="periodsItems"
                            [filter]=true
                            placeholder="Selecciona" [showClear]="true">

                            <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Catálogo</label>
                    <div class="col-12 md:col-10">
                        <p-fileUpload name="myfile[]"
                            [customUpload]="true"
                            (uploadHandler)="fileUploader($event)"
                            [auto]="true"
                            [fileLimit]="1"
                            uploadLabel="importar"
                            chooseLabel="seleccionar archivo"
                            cancelLabel="cancelar"
                        ></p-fileUpload>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton type="submit"
                    [disabled]="!importForm.valid"
                    pRipple label="Guardar" icon="pi pi-check"
            ></button>
            <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times"
                    class="p-button-secondary"
                    (click)="cancelImportDialog()"></button>

        </ng-template>

    </p-dialog>
</form>
