<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-tabView [(activeIndex)]="activeIndex1">
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <i class="pi pi-list"></i>
                        <span>Tabla</span>
                    </ng-template>
                    <p-table #dt [value]="items" [columns]="selectedColumns" [rows]="10" [paginator]="true"
                            [rowHover]="true" dataKey="id" styleClass="p-datatable-striped" 
                            styleClass="p-datatable-customers"
                            currentPageReportTemplate=" {first} a {last} de {totalRecords} "
                            [showCurrentPageReport]="true">
                        <ng-template pTemplate="caption">
                            <div class="grid">
                                <div
                                    class="col-12 md:col-4 sm:col-12 justify-content-start">
                                    <h3 class="m-0">Administración de Oficinas</h3>
                                </div>
                                    <div
                                        class="col-12 md:col sm:col-12 flex justify-content-end">

                                        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                            selectedItemsLabel="{0} columnas seleccionadas"
                                            [style]="{minWidth: '200px',color:'#6c757d'}"
                                            placeholder="Seleccione las columnas"
                                        appendTo="body"></p-multiSelect>
                                        <button pButton pRipple label="Crear" icon="pi pi-plus" class="main-button mr-2 mb-2"
                                        (click)="createItem()" style="margin-left: 2rem;" pTooltip="Crear una Oficina" tooltipPosition="bottom"></button>
            
                                        <button pButton pRipple label="Exportar" icon="pi pi-file-excel" class="second-button mr-2 mb-2"
                                        (click)="exportExcel(dt)" style="margin-left: 1rem;" pTooltip="Exportar a Excel" tooltipPosition="bottom"></button>                                                        </div>
                            </div>

                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th>

                                </th>
                            </tr>

                            <tr>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <p-columnFilter *ngSwitchDefault [type]="col.type" [field]="col.field"
                                                    [matchMode]="'contains'"
                                                    [showMenu]="false"> matchMode="contains
                                    </p-columnFilter>
                                    <p-columnFilter *ngSwitchCase="'state'" type="equals" [field]="col.field"
                                                    [showMenu]="false"
                                    >
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="states"
                                                        (onChange)="filter($event.value)"
                                                        placeholder="Selecciona..." [showClear]="true">
                                                <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'customer-badge status-' + option">{{option.label}}</span>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th>

                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns"
                                    [class]="  col.styleClass?col.styleClass: (col.type === 'numeric'?'text-right':null) "
                                >
                                    {{ col.pipeRef ? col.pipeRef.transform(utilsService.resolveFieldData(rowData, col.field), col.arg1, col.arg2, col.arg3) : utilsService.resolveFieldData(rowData, col.field) }}
                                </td>
                                <td>
                                    <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-primary mr-2"
                                            (click)="editItem(rowData)"></button>

                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                Total {{items ? items.length : 0 }} situaciones.
                            </div>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <i class="pi pi-calendar"></i>
                        <span>Organigrama</span>
                    </ng-template>
                    <p-organizationChart [value]="officeTree" selectionMode="single" [(selection)]="selectedNode"
                                         (onNodeSelect)="onNodeSelect($event)"
                                         styleClass="company">
                        <ng-template let-node pTemplate="person">
                            <div class="node-header p-corner-top">{{node.label}}</div>
                            <div class="node-content">
                                <div>{{node.data.description}}</div>
                                <div>{{node.data.type}}</div>
                            </div>
                        </ng-template>

                    </p-organizationChart>
                </p-tabPanel>
            </p-tabView>
        </div>

    </div>
</div>
<form [formGroup]="formItem" (ngSubmit)="saveItem()">
    <p-dialog [(visible)]="showDialog" [style]="{width: '450px'}" header="Oficina" [modal]="true"
              [closable]="false">

        <ng-template pTemplate="content">
            <p-messages></p-messages>
            <div class="card p-fluid">
                <div class="field">
                    <label for="acronymI">Acrónimo</label>
                    <input type="text" pInputText id="acronymI"
                           formControlName="acronym" autofocus/>
                    <small class="p-error" *ngIf="utilsService.showErrorForm('acronym',formItem)">Campo
                        obligatorio.</small>
                </div>
                <div class="field">
                    <label for="descriptionI">Nombre</label>

                    <input type="text" pInputText id="descriptionI"
                           formControlName="description"
                    />

                    <small class="p-error" *ngIf="utilsService.showErrorForm('description',formItem)">Campo
                        obligatorio.</small>
                </div>
                <div class="field">
                    <label for="officeTypeI">Tipo de oficina</label>

                    <p-dropdown id="officeTypeI"
                                formControlName="type"
                                [options]="officeTypes"
                                placeholder="Selecciona..."
                                appendTo="body">
                    </p-dropdown>

                    <small class="p-error" *ngIf="utilsService.showErrorForm('type',formItem)">Campo
                        obligatorio.</small>
                </div>
                <div class="field">
                    <label for="officeTypeI">Oficina padre</label>

                    <p-dropdown id="parentOfficeI"
                                [filter]="true"
                                formControlName="parentOffice"
                                [options]="parenteOffices"
                                placeholder="Selecciona..."
                                appendTo="body">
                    </p-dropdown>

                    <small class="p-error" *ngIf="utilsService.showErrorForm('type',formItem)">Campo
                        obligatorio.</small>
                </div>
                <div class="field">
                    <label for="administratorsI">Administradores</label>

                    <p-multiSelect id="administratorsI"
                                    formControlName="administrators"
                                    [options]="usersAdministratorOptions"
                                   appendTo="body"
                    >
                    </p-multiSelect>
                </div>
                <div class="field">
                    <label for="stateI">Estado</label>

                    <p-selectButton id="stateI"
                                    formControlName="state"
                                    [options]="states"
                    >
                    </p-selectButton>

                    <small class="p-error" *ngIf="utilsService.showErrorForm('state',formItem)">Campo
                        obligatorio.</small>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton type="submit"
                    [disabled]="!formItem.valid"
                    pRipple label="Guardar" icon="pi pi-check"
            ></button>
            <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                    (click)="cancelDialog()"></button>

        </ng-template>
    </p-dialog>
</form>
