<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>

        <p-card>
            <h3 class="page-title">Configuración de Indicadores Generales</h3>


            <p-toolbar styleClass="p-mb-4">
                <form [formGroup]="periodForm">
                    <div class="p-field p-grid">
                        <label for="periodI" class="p-col-fixed" style="width:100px; color: white;">Periodo:</label>
                        <div class="p-col">
                            <p-dropdown id="periodI" [options]="periods" optionLabel="year"
                                        (onChange)="onPeriodChange($event.value)"></p-dropdown>
                        </div>
                    </div>
                </form>

            </p-toolbar>

            <form [formGroup]="indicatorForm" (ngSubmit)="saveItem()">
                <p-card>
                    <h3 class="page-title">Configuración</h3>

                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-12">
                            <label for="descriptionI">Descripción</label>
                            <textarea pInputTextarea id="descriptionI"  formControlName="description" maxlength="255" autoResize="true"
                            ></textarea>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('description',indicatorForm)">{{utilsService.getErrorMessageForm('description', indicatorForm)}}</small>
                        </div>
                        <div class="p-field p-col-12 p-md-4">
                            <label for="descriptionI">Tipo</label>

                            <p-dropdown id="measureTypeI"
                                        formControlName="measureType"
                                        [options]="measureTypes"
                                        placeholder="Selecciona...">
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('measureType',indicatorForm)">{{utilsService.getErrorMessageForm('measureType', indicatorForm)}}</small>

                        </div>
                        <div class="p-field p-col-12 p-md-4">
                            <label for="stateI">Estado</label>

                            <p-selectButton id="stateI"
                                            formControlName="state"
                                            [options]="states"
                                            placeholder="Selecciona..."
                            ></p-selectButton>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('measureType',indicatorForm)">{{utilsService.getErrorMessageForm('measureType', indicatorForm)}}</small>

                        </div>
                        <div class="p-field p-col-12 p-md-4">
                            <label for="periodIF">Periodo</label>

                            <p-dropdown id="periodIF"
                                        formControlName="period"
                                        [options]="periods" optionLabel="year"
                                        placeholder="Selecciona..."
                            >
                            </p-dropdown>

                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('period',indicatorForm)">{{utilsService.getErrorMessageForm('period', indicatorForm)}}</small>

                        </div>
                        <div class="p-field p-col-12 p-md-12">
                            <label>Desagregaciones Globales</label>
                            <div class="p-field p-col-12 p-md-12" style="border: 1px solid #ced4da;">
                                <p-scrollPanel [style]="{width: '100%', height: '80px'}">
                                    <div class="p-formgroup-inline p-pt-2">
                                        <div class="p-field-checkbox p-col-12 p-md-2"
                                             *ngFor="let category of dissagregationTypes">
                                            <p-checkbox name="group1" [inputId]="category.value"
                                                        [value]="category.value"
                                                        [formControl]="indicatorForm.controls['dissagregations']">
                                            </p-checkbox>
                                            <label [for]="category.value">{{category.label}}</label>
                                        </div>

                                    </div>
                                </p-scrollPanel>
                            </div>
                            <small class="p-error"
                                   *ngIf="utilsService.showErrorForm('dissagregations',indicatorForm)">{{utilsService.getErrorMessageForm('dissagregations', indicatorForm)}}</small>
                        </div>
                    </div>
                    <ng-template pTemplate="footer">
                        <div class="p-d-flex p-jc-end">
                                <button pButton type="submit" class="p-mr-2"
                                        [disabled]="!indicatorForm.valid"
                                        pRipple label="Guardar" icon="pi pi-check"
                                ></button>
                                <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times"
                                        class="p-button-secondary"
                                        (click)="cancel()"></button>
                        </div>
                    </ng-template>
                </p-card>
            </form>
        </p-card>
    </div>
</div>
