<p-panel>
    <ng-template pTemplate="header">
        <div class="flex w-full">
            <div
                class="flex-grow-1 justify-content-start">
                Desagregación por {{this.enumsService.resolveLabel($any('DissagregationType'), dissagregationType)}}
            </div>
            <div
                class="flex-auto mx-2 max-w-10rem"
                style="color: black;"
                [style.background]="getTotalIndicator(valuesGroupRowsMap)>0?'#C8E6C9':'#FEEDAF'"
            >
                <div class="flex">

                    <div class="flex-auto mx-2">Total:</div>
                    <div class="flex-auto mx-2"
                         style="text-align: right">{{getTotalIndicator(valuesGroupRowsMap) | number:'1.0-0'}}
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <p-accordion>
        <p-accordionTab *ngFor="let group of dissagregationOptionsGroups"
                        [ngClass]="this.utilsService.getTotalIndicatorValuesArrayArray(valuesGroupRowsMap.get(group))>0?'p-accordion-filled':'p-accordion-empty'"
        >
            <ng-template pTemplate="header">
                <div class="flex w-full">
                    <div
                        class="flex-grow-1 justify-content-start">
                        {{group.label}}
                    </div>
                    <div
                        class="flex-auto mx-2  max-w-10rem"
                        style="color: black;"
                        [style.background]="this.utilsService.getTotalIndicatorValuesArrayArray(valuesGroupRowsMap.get(group))>0?'#C8E6C9':'#FEEDAF'"
                    >
                        <div class="flex">

                            <div class="flex-auto mx-2">Total:</div>
                            <div class="flex-auto mx-2"
                                 style="text-align: right">
                                {{this.utilsService.getTotalIndicatorValuesArrayArray(valuesGroupRowsMap.get(group)) | number:'1.0-0'}}
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <p-table *ngIf="values" [value]="valuesGroupRowsMap.get(group)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th *ngFor="let col of dissagregationOptionsColumns">{{col.label}}</th>
                            <th>Totales</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                        <tr>
                            <td class="table-title">{{dissagregationOptionsRows[rowIndex].label}}</td>
                            <td pEditableColumn
                                *ngFor="let rowOp of dissagregationOptionsColumns; index as indexColumn"
                                class="text-right">
                                <p-cellEditor *ngIf="editable">
                                    <ng-template pTemplate="input">
                                        <p-inputNumber
                                            name="{{row[indexColumn].id}}"
                                            [min]="0"
                                            [(ngModel)]="row[indexColumn].value"
                                        ></p-inputNumber>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{row[indexColumn].value}}
                                    </ng-template>
                                </p-cellEditor>
                                <div *ngIf="!editable">
                                    {{row[indexColumn].value}}
                                </div>
                            </td>

                            <td class="subtotal_value">{{this.utilsService.getTotalIndicatorValuesArray(row)}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td class="table-title">Totales</td>
                            <td class="subtotal_value"
                                *ngFor="let colOp of dissagregationOptionsColumns; index as indexColumn">
                                {{this.utilsService.getTotalIndicatorValuesColumnArrayArray(valuesGroupRowsMap.get(group), indexColumn)}}
                            </td>
                            <td class="total_value">{{this.utilsService.getTotalIndicatorValuesArrayArray(valuesGroupRowsMap.get(group))}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </p-accordionTab>
    </p-accordion>
</p-panel>
