<p-card>
    <app-home-dashboard-focal-point
            *ngIf="render && (isFocalPoint || isPartner || isAdmin)"
            [currentPeriod]="currentPeriod"
            [periods]="periods"
            [isFocalPoint]="isFocalPoint"
            [isAcnurUser]="isAcnurUser"
            [isAdmin]="isAdmin"
            [isPartner]="isPartner"
            [focalPointProjectsIds]="focalPointProjectsIds"
    >

    </app-home-dashboard-focal-point>
    <app-home-dashboard-direct-implementation
            *ngIf="render && ( isAcnurUser || isAdmin)"

            [currentPeriod]="currentPeriod"
            [periods]="periods"
            [isAdmin]="isAdmin"
    ></app-home-dashboard-direct-implementation>
</p-card>
