<p-card *ngIf="projectIdsFocalPoint">
    <div class="p-grid" *ngIf="acnurUser">
        <div class="p-col-12 border_div">
            <p-button label="Ver mis actividades pendientes" icon="pi pi-calendar-times"
                      [routerLink]="'/reports/lateReportsComponent'"

                      styleClass="p-button-success p-col-12 p-mb-2"></p-button>
        </div>
    </div>
    <app-home-dashboard-focal-point
        [projectIds]="projectIdsFocalPoint"
    >

    </app-home-dashboard-focal-point>
</p-card>
