    <app-home-dashboard-focal-point
            *ngIf="render && !renderLegacyDashboards && (isFocalPoint  || isAdmin)"
            [currentPeriod]="currentPeriod"
            [periods]="periods"
            [isFocalPoint]="isFocalPoint"
            [isAcnurUser]="isAcnurUser"
            [isAdmin]="isAdmin"
            [isPartner]="isPartner"
            [focalPointProjectsIds]="focalPointProjectsIds"
    >
    
    </app-home-dashboard-focal-point>
    <app-home-dashboard-direct-implementation
            *ngIf="render && !renderLegacyDashboards && ( isAcnurUser || isAdmin)"

            [currentPeriod]="currentPeriod"
            [periods]="periods"
            [isAdmin]="isAdmin"
    ></app-home-dashboard-direct-implementation>

    <app-home-dashboard-partner style="height: 500;"
        *ngIf="render &&  isPartner"
        [currentPeriod]="currentPeriod"
        [periods]="periods"
        [isPartner]="isPartner"
        >
    </app-home-dashboard-partner>

