$gutter: 1rem; //for primeflex grid system

/* Layout */
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Code Highlight */
@import "../node_modules/prismjs/themes/prism-coy.css";

/* Quill Text Editor for p-editor */
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";


/***values badge***/
.values-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    // text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-green {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-red {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-yellow {
        background: #FEEDAF;
        color: #8A5340;
    }
    &.status-orange {
        background: #FEEDAF;
        color: #8A5340;
    }
    &.status-white {
        background: white;
        color: #256029;
        border: 1px solid #0d3c61;
    }
}
/** totals**/
.subtotal_value{
    background-color: #CCE3F2 !important;
    color: #000000 !important;
    text-align: right !important;
}
.total_value {
    background-color: #66AAD7 !important;
    color: #000000 !important;
    text-align: right !important;
}
.table-title{
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #e9ecef;
    font-weight: 600;
    color: #fdfeff !important;
    background: #338EC9 !important;
}
//desagregaciones sin validación de totales
/* Sobrescribir el estilo de encabezado global */
.diss-table .p-datatable-header {
    background: #0072BC !important;
    color: #ffffff !important; 
    font-weight: normal;
    padding-bottom: 5px !important;
  }
.diss-table-secondary .p-datatable-header {
    background: #0c0067  !important;
    color: #ffffff !important; 
    font-weight: normal;
    padding-bottom: 5px !important;
  }
  .diss-panel-secondary .p-panel-header {
    background: #009e4d  !important;
    color: #ffffff !important; 
    font-weight: normal;
  }
  .nota {
    margin-top: 20px;
    font-weight: normal;
    font-size: 12px;
    color: #333;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;  /* Borde redondeado */
    border: 2px solid #ddd;  /* Borde sutil */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block; 
  }
  
  .leyenda {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cuadro-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  //
.table-title-secondary{
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #e9ecef;
    font-weight: 600;
    color: #fdfeff !important;
    background: #0cb15e !important;
}
.table-headers th{
    background: #009e4d !important;
}
.subtotal_value-secondary{
    background-color: #cef2cc !important;
    color: #000000 !important;
    text-align: right !important;
}
.total_value-secondary {
    background-color: #17bf70 !important;
    color: #000000 !important;
    text-align: right !important;
}
//
.p-datatable .p-sortable-column.p-highlight {
    background: rgb(0, 114, 188, 0.4);
    color: #0072bc;
}
/*****powerbi********/
/**powerbiBirder*/
.powerbi-total-hidde {
    position: absolute;
    height: 90%;
    width: 100%;
    border: none;
    clip-path: polygon(0% 0%, 0% calc(100% - 36px), 100% calc(100% - 36px), 100% 0%);
}

/*******dashboard******/
.layout-dashboard {
    .orders {
        h4 {
            margin-bottom: 20px;
        }

        .p-button {
            margin-top: -20px;
        }

        .order-tabs {
            margin-bottom: 1rem;

            .order-tab {
                padding: 1rem 2rem 2rem 1rem;
                position: relative;
                transition: box-shadow .2s;

                &:hover {
                    box-shadow: 0 .125rem .25rem rgba(0,0,0,.15);
                    cursor: pointer;
                }

                i {
                    font-size: 1rem;
                    vertical-align: middle;
                }

                .order-label {
                    margin-left: .25rem;
                    vertical-align: middle;
                }

                .stat-detail-icon {
                    position: absolute;
                    right: 1rem;
                    top: 2.25rem;
                    height: 1rem;
                    width: 1rem;
                }

                img {
                    position: absolute;
                    bottom: 0;
                    left: 5%;
                    width: 90%;
                }
            }
        }
    }

    .overview-chart {
        overflow: auto;
    }

    .dashbard-demo-dropdown {
        width: 8rem;
        margin-left: auto;
    }

    .product-badge {
        border-radius: 2px;
        padding: .25em .5rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: .3px;

        &.status-a_tiempo {
            background: #C8E6C9;
            color: #256029;
        }

        &.status-retrasado {
            background: #FFCDD2;
            color: #C63737;
        }

        &.status-pendiente_revision {
            background: #FEEDAF;
            color: #8A5340;
        }
    }
}

/***title***/
$blue_unhcr: #0072BC;
.blue-title {
    color: $blue_unhcr;
}
