$primaryColor: rgba(0, 114, 188, 1);
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff;
$sidebarBgColor: #1976D2;
$highlightBg: #E8F5E9;
$highlightTextColor: #495057;
@import '../../sass/theme/_theme_light';


