<div class="card px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-wrap mb-4">
        <div class="w-full lg:w-6 pl-0 lg:pr-4">
            <img src="assets/demo/images/blocks/about/about_is_0.JPG" alt="Image" class="w-full border-round">
        </div>
        <div class="w-full lg:w-6 pr-0 lg:pl-4 mt-3 lg:mt-0" style=" font-size: 14px;">
            <div class="font-bold text-4xl mb-4 text-900">Sobre OSMOSYS</div>
            <p class="line-height-3 mt-0 mb-3 p-0">
                OSMOSYS (Operation Monitoring System) es un sistema de monitoreo deactividades desarrollado para
                satisfacer las necesidades específicas de ACNUR. Creado inicialmente en Ecuador en 2021,
                en 2023 el sistema evolucipnó para ser implementado en El Salvador.
            </p>
            <p class="line-height-3 mt-0 mb-3 p-0">
                La idea original del sistema fue creada por <a href="mailto:martin@unhcr.org">Jean-Laurent Martin (IM
                Officer-Ecuador)</a>,
                <a href="mailto:salazart@unhcr.org">Sebastián Salazar (IM Officer - El Salvador)</a>
                and <a href="mailto:rasmussm@unhcr.org">Maybritt Rasmussen (Programme Officer)</a>.
            </p>
            <h2 class="line-height-3 mt-0 mb-3 p-0">Funcionalidades de OSMOSYS</h2>
            <ul>
                <li>
                    <strong>Fácil Configuración y Uso:</strong> OSMOSYS está diseñado para ser fácil de configurar y
                    usar, lo que permite a los equipos de ACNUR implementar y adaptar el sistema a diversos contextos
                    operativos sin necesidad de conocimientos técnicos avanzados. Esto facilita su adaptación a los
                    contextos específicos de El Salvador y Ecuador.
                </li>
                <li>
                    <strong>Desagregación de Datos Simplificada:</strong> El sistema permite la desagregación de datos
                    de manera sencilla, lo cual es crucial para generar informes detallados y segmentados por diferentes
                    grupos de edad, género y diversidad. Esto mejora la capacidad de ACNUR para analizar y reportar
                    datos de manera efectiva.
                </li>
                <li>
                    <strong>Tableros de Control Dinámicos:</strong> OSMOSYS incluye tableros de control
                    preconfigurados que responden a las necesidades específicas de informes de ACNUR. Esto permite una
                    visualización rápida y eficiente de los datos recopilados, apoyando la toma de decisiones
                    informadas.
                </li>
                <li>
                    <strong>Actualización Dinámica de Indicadores y Metas:</strong> Durante la implementación de
                    actividades y proyectos, el sistema permite una interacción directa para actualizar indicadores y
                    objetivos, lo
                    que facilita el seguimiento y la gestión del progreso las actividades ejecutadas en la operación de
                    forma oportuna.
                </li>
                <li>
                    <strong>Monitoreo Constante y Toma de Decisiones Informadas:</strong> El sistema habilita el
                    monitoreo constante de actividades, proporcionando información oportuna que es esencial para la toma
                    de decisiones estratégicas. Esto asegura que las operaciones puedan ajustarse rápidamente a cambios
                    en el entorno operativo.
                </li>
                <li>
                    <strong>Generación de Informes Regionales y Globales:</strong> Además de ser útil a nivel de
                    operaciones individuales, OSMOSYS facilita la generación de informes que pueden ser utilizados a
                    nivel regional y global, apoyando la coordinación y la planificación estratégica entre diversas
                    operaciones de ACNUR.
                </li>
                <li>
                    <strong>Implementación Efectiva en Diversos Contextos:</strong>
                    OSMOSYS se puede ser utilizado en diversos contextos operativos, lo que lo hace una
                    herramienta versátil y adaptable para las necesidades de monitoreo, evaluación y reporte de ACNUR.
                </li>
            </ul>
            <p>
                OSMOSYS representa un avance significativo en la capacidad de las operaciones de El Salvador y Ecuador
                para monitorear y gestionar
                sus operaciones de manera más eficaz y eficiente, proporcionando una solución tecnológica que está
                alineada
                con sus objetivos operativos y estratégicos.
            </p>
        </div>
    </div>
    <div class="flex flex-wrap mb-4">
        <div class="w-full lg:w-6 pr-0 lg:pl-4 mt-3 lg:mt-0">
            <span class="block text-900 font-bold text-3xl mb-3 text-center">El equipo detrás de OSMOSYS</span>
            <div class="text-center text-lg line-height-3 mb-6">
                <p style=" font-size: 18px;">El sistema constantemente está en revisión y mejora,
                    gracias
                    a la cooperación de las operaciones de El Salvador y Ecuador, gracias al siguiente equipo:</p>
            </div>
            <ul style=" font-size: 18px;">
                <li><a href="mailto:salazart@unhcr.org"> Sebastián Salazar (IM Officer - El Salvador)</a> Arquitectura,
                    desarrollo, programación e infraestructura
                </li>
                <li><a href="mailto:pradoc@unhcr.org"> Carlos Prado (IM Associate - El Salvador)</a> Administración del
                    sistema, coordinación
                    interna y
                    con socios, análisis de datos y generación de reportes
                </li>
                <li><a href="mailto:guardado@unhcr.org"> Livny Guardado (IM Assistant - El Salvador)</a> Soporte,
                    administración y capacitación de
                    usuarios
                </li>
                <li><a href="mailto:aquino@unhcr.org"> Gabriela Aquino (IM Associate - El Salvador)</a> Creación de
                    tableros
                    dinámicos
                </li>
                <li><a href="mailto:ayalac@unhcr.org"> Fernanda Ayala (IM Associate - Ecuador)</a> Administración del
                    sistema y base de datos, creación de tableros
                    dinámicos
                </li>

            </ul>
            <div class="w-full lg:w-6 pl-0 lg:pr-4"
                 style="width: 200px;    height: 200px;">
                <img src="assets/demo/images/blocks/about/EquipoIM%20SV.jpg" alt="Image" class="w-full border-round">
            </div>
        </div>
        <div class="w-full lg:w-6 pl-0 lg:pr-4">
            <img src="assets/demo/images/blocks/about/about_us_2.JPG" alt="Image" class="w-full border-round">
        </div>
    </div>
    <div class="mt-3 md:mt-8">


        <!--<div class="grid">
            <div class="col-12 md:col-6 lg:col-3 p-3">
                <div class="relative overflow-hidden" (mouseenter)="visibleMember = 0"
                     (mouseleave)="visibleMember = -1">
                    <img src="assets/demo/images/blocks/team/team-1.png" class="w-full block"/>
                    <div
                        class="absolute top-0 left-0 h-full w-full border-round fadein animation-duration-300 select-none"
                        style="background-color: rgba(0,0,0,0.7)" *ngIf="visibleMember === 0">
                        <div class="flex flex-column p-5 h-full">
                            <span class="block font-medium text-white text-xl mb-3">Jeff Davies</span>
                            <span class="font-medium text-400">Software Developer</span>
                            <div class="mt-auto">
                                <a tabindex="0" class="cursor-pointer text-white"><i
                                    class="pi pi-twitter text-600 text-xl mr-3"></i></a>
                                <a tabindex="0" class="cursor-pointer text-white"><i
                                    class="pi pi-github text-600 text-xl mr-3"></i></a>
                                <a tabindex="0" class="cursor-pointer text-white"><i
                                    class="pi pi-facebook text-600 text-xl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3 p-3">
                <div class="relative overflow-hidden" (mouseenter)="visibleMember = 1"
                     (mouseleave)="visibleMember = -1">
                    <img src="assets/demo/images/blocks/team/team-2.png" class="w-full block"/>
                    <div
                        class="absolute top-0 left-0 h-full w-full border-round fadein animation-duration-300 select-none"
                        style="background-color: rgba(0,0,0,0.7)" *ngIf="visibleMember === 1">
                        <div class="flex flex-column p-5 h-full">
                            <span class="block font-medium text-white text-xl mb-3">Kristin Watson</span>
                            <span class="font-medium text-400">UI/UX Designer</span>
                            <div class="mt-auto">
                                <a tabindex="0" class="cursor-pointer text-white"><i
                                    class="pi pi-twitter text-600 text-xl mr-3"></i></a>
                                <a tabindex="0" class="cursor-pointer text-white"><i
                                    class="pi pi-github text-600 text-xl mr-3"></i></a>
                                <a tabindex="0" class="cursor-pointer text-white"><i
                                    class="pi pi-facebook text-600 text-xl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3 p-3">
                <div class="relative overflow-hidden" (mouseenter)="visibleMember = 2"
                     (mouseleave)="visibleMember = -1">
                    <img src="assets/demo/images/blocks/team/team-3.png" class="w-full block"/>
                    <div
                        class="absolute top-0 left-0 h-full w-full border-round fadein animation-duration-300 select-none"
                        style="background-color: rgba(0,0,0,0.7)" *ngIf="visibleMember === 2">
                        <div class="flex flex-column p-5 h-full">
                            <span class="block font-medium text-white text-xl mb-3">Jenna Williams</span>
                            <span class="font-medium text-400">Marketing Specialist</span>
                            <div class="mt-auto">
                                <a tabindex="0" class="cursor-pointer text-white"><i
                                    class="pi pi-twitter text-600 text-xl mr-3"></i></a>
                                <a tabindex="0" class="cursor-pointer text-white"><i
                                    class="pi pi-github text-600 text-xl mr-3"></i></a>
                                <a tabindex="0" class="cursor-pointer text-white"><i
                                    class="pi pi-facebook text-600 text-xl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3 p-3">
                <div class="relative overflow-hidden" (mouseenter)="visibleMember = 3"
                     (mouseleave)="visibleMember = -1">
                    <img src="assets/demo/images/blocks/team/team-4.png" class="w-full block"/>
                    <div
                        class="absolute top-0 left-0 h-full w-full border-round fadein animation-duration-300 select-none"
                        style="background-color: rgba(0,0,0,0.7)" *ngIf="visibleMember === 3">
                        <div class="flex flex-column p-5 h-full">
                            <span class="block font-medium text-white text-xl mb-3">Joe Clifford</span>
                            <span class="font-medium text-400">Customer Relations</span>
                            <div class="mt-auto">
                                <a tabindex="0" class="cursor-pointer text-white"><i
                                    class="pi pi-twitter text-600 text-xl mr-3"></i></a>
                                <a tabindex="0" class="cursor-pointer text-white"><i
                                    class="pi pi-github text-600 text-xl mr-3"></i></a>
                                <a tabindex="0" class="cursor-pointer text-white"><i
                                    class="pi pi-facebook text-600 text-xl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
