<div class="card px-4 py-8 md:px-6 lg:px-8">
    <div class="photo-banner">
        <br><h1 class="banner-title">¿Qué es OSMOSYS?</h1>
        <div class="text-content">

            <p style="text-align: justify;  text-align-last: center;">OSMOSYS (Operation Monitoring System) es un sistema diseñado para monitorear indicadores y atender las necesidades específicas de ACNUR.
                Se desarrolló inicialmente en Ecuador en 2021,
                y en el 2023, En El Salvador, se incorporaron mejoras para que pueda solventar las necesidades de varias operaciones. Hoy, el sistema es una herramienta implementada en diversas operaciones de ACNUR en la región de las Américas.
                <br>
                <br>La idea original fue producto de la colaboración de <strong> Jean-Laurent Martin (IM Officer - Ecuador)</strong>,<strong> la Unidad de Programas de Ecuador</strong> y <strong>Sebastián Salazar (IM Officer - El Salvador)</strong>.
            </p>
        </div>
    </div>

    <div class="section">
        <div class="text-content" style="text-align: center;">
            <h1>Funcionalidades de OSMOSYS</h1>
            <ul class="funcionalidades" style="margin-bottom: 50px; margin-top: 50px;">
                <li>ss
                    <img src="assets/images/img_aboutus/1.png" alt="Ícono de uso">
                    <div class="func-title"><strong>Fácil configuración y uso</strong></div>
                    <div class="func-description">Se adapta a diferentes contextos operativos de forma sencilla, sin requerir conocimientos técnicos avanzados.</div>
                </li>
                <li>
                    <img src="assets/images/img_aboutus/2.png" alt="Ícono de datos">
                    <div class="func-title"><strong>Análisis de datos simplificado</strong></div>
                    <div class="func-description">Facilita la desagregación de datos, generando informes detallados por edad, género y diversidad.</div>
                </li>
                <li>
                    <img src="assets/images/img_aboutus/3.png" alt="Ícono de tableros">
                    <div class="func-title"><strong>Tableros dinámicos e intuitivos</strong></div>
                    <div class="func-description">Ofrece una visualización clara y eficiente de los datos, apoyando la toma de decisiones informadas.</div>
                </li>
                <li>
                    <img src="assets/images/img_aboutus/4.png" alt="Ícono de actualización">
                    <div class="func-title"><strong>Actualización en
                        <br>tiempo real</strong></div>
                    <div class="func-description">Permite actualizar indicadores y objetivos directamente, garantizando un seguimiento del progreso de las operaciones.</div>
                </li>
                <li>
                    <img src="assets/images/img_aboutus/5.png" alt="Ícono de informe">
                    <div class="func-title"><strong>Generación de informes regionales</strong></div>
                    <div class="func-description">Facilita la creación de informes a nivel regional y global, promoviendo la coordinación estratégica entre operaciones.</div>
                </li>
                <li>
                    <img src="assets/images/img_aboutus/6.png" alt="Ícono de indicador de lugar">
                    <div class="func-title"><strong>Adaptabilidad en diversos contextos</strong></div>
                    <div class="func-description">Su versatilidad le permite adaptarse a diversos contextos y a las necesidades de monitoreo, evaluación y reporte de ACNUR.</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="team-section">
        <div class="team-image">
            <img src="assets/images/img_aboutus/EquipoIM-SV.png" alt="Fotografía de equipo">
        </div>
        <div class="team-content">
            <h1>El equipo detrás de OSMOSYS</h1>
            <p>El sistema está en constante revisión y mejora gracias a la cooperación de las operaciones en El Salvador y Ecuador, y al trabajo del siguiente equipo:</p>
            <ul>
                <li> <span class="team-name"><img class="team-flag" src="assets/images/img_aboutus/flag-el-salvador.png" alt="El Salvador"> Sebastián Salazar</span>
                    <br><strong>IM Officer - El Salvador</strong>
                    <br>Arquitectura, desarrollo, programación e infraestructura.
                    <br><a href="mailto:salazart@unhcr.org" style="color: white">salazart@unhcr.org</a>
                </li>
                <li><span class="team-name"><img class="team-flag" src="assets/images/img_aboutus/flag-el-salvador.png" alt="El Salvador"> Carlos Prado</span>
                    <br><strong>IM Associate - El Salvador</strong>
                    <br>Administración del sistema, coordinación interna y con socios, análisis de datos, generación de reportes y tableros dinámicos.
                    <br><a href="mailto:pradoc@unhcr.org" style="color: white">pradoc@unhcr.org</a>
                </li>
                <li><span class="team-name"><img class="team-flag" src="assets/images/img_aboutus/flag-el-salvador.png" alt="El Salvador"> Livny Guardado</span>
                    <br><strong>IM Assistant - El Salvador</strong>
                    <br>Soporte, creación de tableros dinámicos, administración y capacitación de usuarios.
                    <br><a href="mailto:guardado@unhcr.org" style="color: white">guardado@unhcr.org</a>
                </li>
                <li><span class="team-name"><img class="team-flag" src="assets/images/img_aboutus/flag-el-salvador.png" alt="El Salvador"> Felipe Carranza</span>
                    <br><strong>IM Associate - El Salvador</strong>
                    <br>Soporte, generación de reportes y análisis de datos.
                    <br><a href="mailto:carranzf@unhcr.org" style="color: white">carranzf@unhcr.org</a>
                </li>
                <li><span class="team-name"><img class="team-flag" src="assets/images/img_aboutus/flag-ecuador.png" alt="Ecuador"> Fernanda Ayala</span>
                    <br><strong>IM Associate - Ecuador</strong>
                    <br>Administración del sistema y base de datos, creación de tableros dinámicos.
                    <br><a href="mailto:ayalacaj@unhcr.org" style="color: white">ayalacaj@unhcr.org</a>
                </li>
            </ul>
        </div>
    </div>
</div>
