<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <form [formGroup]="userForm" (ngSubmit)="save()">
            <p-card>
                <ng-template pTemplate="header">
                    <h3 class="page-title">Mi perfil de usuario</h3>
                </ng-template>

                <div class="p-field p-grid">
                    <label for="nameI" class="p-col-fixed" style="width:200px">Nombre</label>
                    <div class="p-col">
                        <input id="nameI" type="text" pInputText formControlName="name">
                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('name',userForm)">
                            {{utilsService.getErrorMessageForm('name', userForm)}}
                        </small>
                    </div>

                </div>
                <div class="p-field p-grid">
                    <label for="usernameI" class="p-col-fixed" style="width:200px">Nombre de Usuario</label>
                    <div class="p-col">
                        <input id="usernameI" type="text" pInputText formControlName="username">
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="emailI" class="p-col-fixed" style="width:200px">Correo Electrónico</label>
                    <div class="p-col">
                        <input id="emailI" type="text" pInputText formControlName="email">
                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('email',userForm)">
                            {{utilsService.getErrorMessageForm('email', userForm)}}
                        </small>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="organizationI" class="p-col-fixed" style="width:200px">Organización</label>
                    <div class="p-col">
                        <input id="organizationI" type="text" pInputText formControlName="organization">
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="officeI" class="p-col-fixed" style="width:200px">Oficina</label>
                    <div class="p-col">
                        <p-dropdown id="officeI"
                                    [filter]="true"
                                    [style]="{'width':'250px'}"
                                    formControlName="office"
                                    [options]="offices"
                                    placeholder="Selecciona...">
                        </p-dropdown>
                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('office',userForm)">
                            {{utilsService.getErrorMessageForm('office', userForm)}}
                        </small>
                    </div>

                </div>
                <ng-template pTemplate="footer">
                    <div class="p-d-flex p-jc-end p-m-2">
                        <p-button class="btn btn-primary p-mr-2" type="submit"
                                  [disabled]="!userForm.valid">Guardar</p-button>
                        <p-button class="btn btn-primary p-button-secondary" type="button" (click)="cancel()">Cancelar
                        </p-button>
                    </div>
                </ng-template>
            </p-card>
        </form>
    </div>
</div>
