<p-card>
    <ng-template pTemplate="header">
        <p-toast key="dialogToast" position="top-right"></p-toast>
        <p-messages></p-messages>
        <div class="p-d-flex p-jc-end">
            <button pButton *ngIf="hasLocationDissagregation" type="button" pRipple label="Agregar Cantones"
                    icon="pi pi-plus"
                    (click)="openLocationsDialog()"></button>
        </div>
    </ng-template>
    <form [formGroup]="formItem" (ngSubmit)="saveMonth()">
        <p-card>
            <ng-template pTemplate="header">

                <app-chart-indicator-execution *ngIf="render"
                                               [month]="month"
                                               [indicatorExecution]="indicatorExecution"
                ></app-chart-indicator-execution>

            </ng-template>
            <div class="p-grid p-m-2" *ngIf="render">
                <div class="p-col-12" *ngFor="let dissagregation of noDimentionDissagregations">
                    <app-dissagregation-no-dissagregation-integer
                        *ngIf="monthValuesMap.get(dissagregation)"
                        [month]="month"
                        [dissagregationType]="dissagregation"
                        [values]="monthValuesMap.get(dissagregation)"
                        [editable]="editable"
                    ></app-dissagregation-no-dissagregation-integer>
                </div>
            </div>
            <div class="p-grid p-m-2" *ngIf="render">
                <div class="p-col-4"
                     *ngFor="let dissagregation of oneDimentionDissagregations ">
                    <app-dissagregation-one-integer-dimentions
                        *ngIf="monthValuesMap.get(dissagregation)"
                        [dissagregationType]="dissagregation"
                        [values]="monthValuesMap.get(dissagregation)"
                        [editable]="editable"
                    ></app-dissagregation-one-integer-dimentions>
                </div>
            </div>
            <div class="p-grid p-m-2" *ngIf="render">
                <div class="p-col-6" *ngFor="let dissagregation of twoDimentionDissagregations">
                    <app-dissagregation-two-integer-dimentions
                        *ngIf="monthValuesMap.get(dissagregation)"
                        [dissagregationType]="dissagregation"
                        [values]="monthValuesMap.get(dissagregation)"
                        [editable]="editable"
                    ></app-dissagregation-two-integer-dimentions>
                </div>
            </div>
            <div class="p-grid p-m-2"
                 *ngIf="render && monthCustomDissagregatoinValues!== null && monthCustomDissagregatoinValues.length>0">
                <div class="p-col-6" *ngFor="let monthCustomDissagregatoinValue of monthCustomDissagregatoinValues">
                    <app-custom-dissagregation-integer
                        [values]="monthCustomDissagregatoinValue.indicatorValuesCustomDissagregation"
                        [customDissagregation]="monthCustomDissagregatoinValue.customDissagregation"
                        [editable]="editable"
                    ></app-custom-dissagregation-integer>
                </div>
            </div>
            <div class="card p-col-12">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-8" *ngIf="indicatorExecution.keepBudget">
                        <label for="assignedBudgetI">Presupuesto</label>
                        <div class="p-field p-grid p-pl-4">
                            <label for="assignedBudgetI" class="p-col-fixed">Presupuesto Asignado: </label>
                            <div class="p-col">
                                <label
                                    for="assignedBudgetI">{{indicatorExecution.assignedBudget | currency:'USD':true:'1.2-2'}}</label>
                            </div>
                        </div>
                        <div class="p-field p-grid p-pl-4">
                            <label for="assignedBudgetI" class="p-col-fixed">Presupuesto Ejecutado: </label>
                            <div class="p-col">
                                <label
                                    for="assignedBudgetI">{{indicatorExecution.availableBudget| currency:'USD':true:'1.2-2'}}</label>
                            </div>
                        </div>
                        <div class="p-field p-grid p-pl-4">
                            <label for="assignedBudgetI" class="p-col-fixed">Presupuesto Distribuido este Mes: </label>
                            <div class="p-col">
                                <p-inputNumber
                                    id="assignedBudgetI"
                                    formControlName="usedBudget"
                                    mode="currency"
                                    currency="USD"
                                    locale="en-US"
                                ></p-inputNumber>
                            </div>
                        </div>
                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('usedBudget',formItem)">
                            {{utilsService.getErrorMessageForm('usedBudget', formItem)}}
                        </small>
                    </div>
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-8">
                        <label for="sourcesI">Fuente de Verificación</label>
                        <p-multiSelect id="sourcesI"
                                       [options]="sourceTypes"
                                       [filter]="true"
                                       formControlName="sources"
                                       (onChange)="setOtherSource($event.value)"
                        ></p-multiSelect>
                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('sources',formItem)">
                            {{utilsService.getErrorMessageForm('sources', formItem)}}
                        </small>
                    </div>
                    <div class="p-field p-col-12 p-md-4" *ngIf="showOtherSource">
                        <label for="sourceOtherI">Otro</label>
                        <input id="sourceOtherI" type="text" pInputText formControlName="sourceOther">
                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('sourceOther',formItem)">
                            {{utilsService.getErrorMessageForm('sourceOther', formItem)}}
                        </small>
                    </div>
                    <div class="p-field p-col-12 p-md-12">
                        <label for="commentaryI">Información Cualitativa</label><br>
                        <small class="p-col-12">
                            {{indicatorExecution.indicator.qualitativeInstructions}}
                        </small>
                        <textarea id="commentaryI"
                                  pInputTextarea
                                  autoResize="true"
                                  style="width: 100%"
                                  formControlName="commentary"
                        ></textarea>
                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('commentary',formItem)">
                            {{utilsService.getErrorMessageForm('commentary', formItem)}}
                        </small>
                    </div>
                    <div class="p-field p-col-12 p-md-12">
                        <label for="checkedI">Verificación Punto Focal</label>
                        <p-dropdown id="checkedI" [options]="chekedOptions" formControlName="checked"
                                    appendTo="body"></p-dropdown>
                        <small class="p-error"
                               *ngIf="utilsService.showErrorForm('checked',formItem)">
                            {{utilsService.getErrorMessageForm('checked', formItem)}}
                        </small>
                    </div>
                </div>
            </div>

            <ng-template pTemplate="footer">
                <div class="p-col-12 p-md-12">
                    <p-messages></p-messages>
                </div>
                <div class="p-d-flex p-jc-end" *ngIf="editable">

                    <button pButton type="submit" class="p-mr-2" [disabled]="disableSave"
                            pRipple label="Guardar" icon="pi pi-check"
                    ></button>
                    <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times"
                            class="p-button-secondary"
                            (click)="cancel()"></button>
                </div>
                <div class="p-d-flex p-jc-end" *ngIf="!editable">

                    <button pButton type="button" pRipple label="Salir" icon="pi pi-times"
                            (click)="cancel()"></button>
                </div>
            </ng-template>
        </p-card>
    </form>
</p-card>
<p-dialog [(visible)]="showErrorResume" [closable]="false" [closeOnEscape]="false">
    <ng-template pTemplate="header">
        Existen Errores en los Valores
    </ng-template>
    <div *ngIf="showErrorResume">
        <div class="p-d-flex p-flex-column">
            <div class="p-mb-2">
                Existen errores en los valores. Los valores totales de cada segregación en la tabla deberían ser
                iguales.
            </div>
            <div class="p-mb-2">
                <!--suppress AngularInvalidExpressionResultType -->
                <p-table [value]="totalsValidation.keys()" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Desagregación</th>
                            <th>Total</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dissagregation>
                        <tr>
                            <td>{{dissagregation | enumValuesToLabel:'DissagregationType'}}</td>
                            <td>{{totalsValidation.get(dissagregation)}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="p-d-flex p-jc-end">
            <button pButton type="button" pRipple label="Cerrar" icon="pi pi-times"
                    (click)="closeErrorDialog()"></button>
        </div>
    </ng-template>
</p-dialog>
<form [formGroup]="formLocations" (ngSubmit)="saveLocations()">
    <p-dialog [(visible)]="showLocationsDialog" [modal]="true" header="Selección de Cantones"
              [style]="{width: '80%', height: '80%'}">
        <div class="p-field p-col-12 p-md-12">
            <p-messages></p-messages>

            <div class="p-field p-col-12 p-md-12">
                <p-pickList [source]="cantonesAvailable" [target]="formLocations.get('locationsSelected').value"
                            sourceHeader="Disponibles" targetHeader="Seleccionados"
                            [dragdrop]="true"
                            [responsive]="true"
                            [sourceStyle]="{'height':'25rem'}" [targetStyle]="{'height':'25rem'}"
                            filterBy="description,provincia.description"
                            sourceFilterPlaceholder="Buscar por cantón o provincia"
                            targetFilterPlaceholder="Buscar por cantón o provincia"
                            [showSourceControls]="false"
                            [showTargetControls]="false"
                >
                    <ng-template let-product pTemplate="item">
                        <div class="p-d-flex p-jc-between">
                                        <span
                                            style="font-size:14px;font-weight: 800;vertical-align: middle;">{{product.description}}</span>

                            <span style="font-size:10px;font-weight: 600;vertical-align: middle;"><i
                                class="pi pi-map-marker product-category-icon"></i>{{product.provincia.description}}</span>
                        </div>

                    </ng-template>
                </p-pickList>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <button pButton type="submit"
                    [disabled]="!formLocations.valid"
                    pRipple label="Guardar" icon="pi pi-check"
            ></button>
            <button pButton type="button" pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                    (click)="cancelLocations()"></button>

        </ng-template>
    </p-dialog>
</form>
