<p-table #dtGeneralIndicators [value]="generalIndicators"
         [columns]="selectedColumnsGeneralIndicators"
         [rowHover]="true" dataKey="id"
         currentPageReportTemplate=" {first} a {last} de {totalRecords} "
         [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="grid">
            <div
                class="col-12 md:col-4 sm:col-12 justify-content-start">
                <h5 class="m-0">Indicador General</h5>
            </div>
            <div
                class="col-12 md:col sm:col-12 flex justify-content-end">

                <p-multiSelect [options]="colsGeneralIndicators" [(ngModel)]="selectedColumnsGeneralIndicators"
                               optionLabel="header"
                               selectedItemsLabel="{0} columnas seleccionadas"
                               [style]="{minWidth: '150px',color:'#6c757d'}"
                               placeholder="Seleccione las columnas"
                               appendTo="body"></p-multiSelect>
                <button type="button" pButton icon="pi pi-file-excel" (click)="exportExcel(dtGeneralIndicators)"
                        class="p-button-success mx-2"></button>
            </div>

        </div>

    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th>

            </th>
        </tr>

        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <p-columnFilter *ngSwitchDefault [type]="col.type" [field]="col.field"
                                [matchMode]="'contains'"
                                [showMenu]="false"> matchMode="contains
                </p-columnFilter>
                <p-columnFilter
                    *ngSwitchCase="'customDissagregationAssignationToIndicators'"
                    type="text"
                    [field]="col.field" [showMenu]="false"
                    [matchMode]="'customDissagregationsAssignationToIndicatorFilter'"></p-columnFilter>
                <p-columnFilter *ngSwitchCase="'indicator'"
                                type="text"
                                [field]="col.field" [showMenu]="false"
                                [matchMode]="'indicatorFilter'"></p-columnFilter>
                <p-columnFilter *ngSwitchCase="'lastReportedMonth'"
                                type="text"
                                [field]="col.field" [showMenu]="false"
                                [matchMode]="'monthFilter'"></p-columnFilter>
            </th>
            <th>

            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>

            <td *ngFor="let col of columns"
                [class]="  col.styleClass?col.styleClass: (col.type === 'numeric'?'text-right':null) "
            >
                {{ col.pipeRef ? col.pipeRef.transform(utilsService.resolveFieldData(rowData, col.field), col.arg1, col.arg2, col.arg3) : utilsService.resolveFieldData(rowData, col.field)}}
            </td>
            <td>
                <button type="button" pButton label="ver valores" (click)="op.toggle($event)"
                        [ngClass]="this.utilsService.getTimeStateButtonClass(rowData.late)"
                ></button>
                <p-overlayPanel #op (onShow)="selectedIndicatorSet(rowData)" (onHide)="clearIndicator()"
                                [showCloseIcon]="true">
                    <ng-template pTemplate="">
                        <app-partners-general-indicator-quarter-list
                            [quarters]="rowData.quarters"
                            (callMonth)="callMonth($event, op)"
                            [indicatorExecution]="rowData"
                            [isAdmin]="isAdmin"
                            [isProjectFocalPoint]="isProjectFocalPoint"
                            (refreshData)="refreshData()"
                        >
                        </app-partners-general-indicator-quarter-list>
                    </ng-template>
                </p-overlayPanel>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            Total {{generalIndicators ? generalIndicators.length : 0 }} indicadores
            generales.
        </div>
    </ng-template>
</p-table>

